<div class="breadcrumb stick_ip" data-budget-line-breadcrumb="<%= ([@year, @kind].concat(@code.length.downto(1).map{|i| @code[0..-i]})).join('/') %>"
                                 data-budget-line-area="<%= @area_name %>" data-budget-line-categories="<%= gobierto_budgets_api_categories_url(host: Site.budgets_host, format: :json) %>">
  <div class="column">
    <div class="bread_hover">
      <div class="bread_links" data-line-breadcrumb>
      </div>

      <div class="line_browser clearfix">
        <div class="bread_links clearfix" data-line-breadcrumb>
        </div>

        <div class="col" data-level="0">
          <table>
            <% GobiertoBudgets::SearchEngineConfiguration::Year.all.each do |year| %>
              <tr data-code="<%= year %>">
                <td><%= link_to year, gobierto_sites_budgets_path %></td>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="col" data-level="1">
          <table data-current-code=""></table>
        </div>

        <div class="col" data-level="2">
          <table data-current-code=""></table>
        </div>

        <div class="col" data-level="3">
          <table data-current-code=""></table>
        </div>

        <div class="col" data-level="4">
          <table data-current-code=""></table>
        </div>

        <div class="col" data-level="5">
          <table data-current-code=""></table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="budget_line">

    <header data-share>
      <h1><%= title @budget_line.name %></h1>

      <div class="social_links_container" data-share-text="<%= t(@area_name == GobiertoBudgets::BudgetLine::EXPENSE ? '.twitter_text_expense' : '.twitter_text_income', name: @site.place.name, budget_line_name: @budget_line.name, year: @year) %>">
        <a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|XXX"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|XXX"><i class="fa fa-facebook"></i></a>
        <a href="#embed-graph-code" class="code open_modal"><i class="fa fa-code"></i></a>
      </div>

      <%= render partial: 'shared/embed' %>
    </header>

    <div class="separator"></div>

    <div class="pure-g numbers_intro">

      <div class="pure-u-1 pure-u-md-1-2 p_h_l_1">
        <ul>
          <li><%= t('.per_inhabitant') %> <strong> <%= @kind == GobiertoBudgets::BudgetLine::EXPENSE ? t('.we_expend') : t('.we_income') %> <span class="highlight"><%= number_to_currency @budget_line_stats.amount_per_inhabitant, precision: 2 %></span></strong>.</li>
          <li><%= t('.in_total') %> <strong><span class="highlight"><%= format_currency @budget_line_stats.amount %></span></strong>.</li>
          <% if diff = @budget_line_stats.percentage_difference(variable1: :amount_planned, variable2: :amount_executed, year: @year-1) %>
            <li><%= t('.last_year') %><%= @kind == GobiertoBudgets::BudgetLine::EXPENSE ? t('.we_expend') : t('.we_income') %> un <span class="highlight"><strong><%= diff %></strong></span> <%= t('.from_planned') %>.</li>
          <% else %>
            <li><%= t('.we_have') %> <%= @kind == GobiertoBudgets::BudgetLine::EXPENSE ? t('.expended'): t('.income') %> <span class="highlight"><strong><%= @budget_line_stats.percentage_difference(variable1: :amount_planned, year1: @year, year2: @year-1) %></strong></span> que el año anterior.</li>
          <% end %>
        </ul>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 p_h_r_1 description">
        <% pending do %>
          <p>
            Comprende esta área todos aquellos gastos originados por los
            servicios públicos básicos que, con carácter obligatorio, deben
            prestar los municipios, por sí o asociados, con arreglo al artículo
            26.1 de la Ley 7/1985, de 2 de abril, reguladora de las Bases del Régimen
            Local, o, en su caso, las provincias con arreglo al artículo 31.2 de la
            misma Ley, atendiendo a su función de cooperación y asistencia a los
            municipios. A estos efectos, se incluyen, en los términos que se exponen para
            cada una de ellas, cuatro políticas de gasto básicas: seguridad y movilidad
            ciudadana, vivienda y urbanismo, bienestar comunitario y medio ambiente.
          </p>
        <% end %>
      </div>
    </div>

    <div class="separator"></div>

    <div class="pure-g block">
      <div class="pure-u-1 pure-u-md-1-2 p_h_l_1">
        <h2><%= t('.budget_lines') %></h2>
        <% if @budget_line_descendants.any? %>
          <table>
            <% @budget_line_descendants.each do |budget_line| %>
              <tr>
                <td><%= link_to truncate(budget_line.name, length: 75), gobierto_sites_budget_line_path(budget_line.to_param), title: budget_line.name %></td>
                <td class="qty"><%= number_with_precision(budget_line.percentage_compared_with(@budget_line.amount) * 100, precision: 2) + '%' %></td>
                <td class="amount"><%= format_currency(budget_line.amount) %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p><%= t('.no_more_descendants') %>. <% if @parent_budget_line %><%= t('.back_to_parent') %>: <a href="<%= gobierto_sites_budget_line_path(@parent_budget_line.to_param) %>"><%= @parent_budget_line.name %></a>.<% end %></p>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
        <h2><%= t('.budget_lines_distribution') %></h2>
        <% if @budget_line_composition.any? %>
          <table>
            <% @budget_line_composition.each do |budget_line| %>
              <tr>
                <td><%= link_to truncate(budget_line.name, length: 75), gobierto_sites_budget_line_path(budget_line.to_param), title: budget_line.name %></td>
                <td class="qty"><%= number_with_precision(budget_line.percentage_compared_with(@budget_line.amount) * 100, precision: 2) + '%' %></td>
                <td class="amount"><%= format_currency(budget_line.amount) %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p><%= t('.no_distribution') %></p>
        <% end %>
      </div>
    </div>

    <div class="separator"></div>

    <div class="pure-g block" data-vis-lines>
      <div class="pure-u-1 pure-u-md-1-2 p_h_l_1">
        <h2><%= t('.evolution') %></h2>
        <div id="lines_chart"></div>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
        <h2><%= t('gobierto_sites.budgets.index.context') %></h2>
        <div id="lines_tooltip"></div>
        <div class="help">
        <%= link_to t('gobierto_sites.budgets.index.note_about_the_data'), gobierto_budgets_faq_path(anchor: 'no_data'), title: t('gobierto_sites.budgets.index.note_about_the_data_title'), class: 'tipsit' %>
        </div>
      </div>

      <div class="pure-u-1">
        <div class="filter m_v_2">
          <%= link_to t('gobierto_sites.budgets.index.per_person'), '#', class:'active',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_budget_line_path(@place.id, @year, "per_person", @kind, @code.parameterize, @area_name, format: :json ), "line-widget-type" => "per_person" } %>
          <%= link_to t('gobierto_sites.budgets.index.in_total'), '#', class:'',  data: {"line-widget-series" => "means", "line-widget-url" =>gobierto_budgets_api_data_lines_budget_line_path(@place.id, @year, "total_budget", @kind, @code.parameterize, @area_name, format: :json ), "line-widget-type" => "total_budget" } %>
        </div>
      </div>
    </div>
  </div>
</div>
