<header class="place ranking">

  <div>
    <h1>
      <%= title 'Rankings' %>
    </h1>
  </div>

  <%= image_tag('illustrations/analitica.jpg', class: 'f_right') %>

  <p>Consulta los municipios que más ingresos y gastos, total y por habitante, realizan para cada partida.</p>

  <div class="ranking_main_links">
    <%= link_to 'Ingresos', gobierto_budgets_places_ranking_path(2015, 'I', 'economic', 'amount') %>
    <%= link_to 'Gastos', gobierto_budgets_places_ranking_path(2015, 'G', 'functional', 'amount') %>
  </div>

</header>


<div class="ranking_list">

  <div class="sep"></div>

  <h4>Algunas cifras destacadas</h4>

  <div class="ranking_card clearfix"
      data-widget-type="ranking_1"
      data-widget-template="#widget-template"
      data-widget-data-url="/api/data/widget/ranking/2015/I/economic/amount/344.json">

  </div>

  <div class="ranking_card clearfix"
      data-widget-type="ranking_2"
      data-widget-template="#widget-template"
      data-widget-data-url="/api/data/widget/ranking/2015/G/functional/amount_per_inhabitant/336.json">

  </div>

  <div class="ranking_card clearfix"
      data-widget-type="ranking_3"
      data-widget-template="#widget-template"
      data-widget-data-url="/api/data/widget/ranking/2015/G/functional/amount/342.json">

  </div>

  <div class="ranking_card clearfix"
      data-widget-type="ranking_4"
      data-widget-template="#widget-template"
      data-widget-data-url="/api/data/widget/ranking/2015/G/functional/amount_per_inhabitant/165.json">

  </div>

  <div class="ranking_card clearfix"
      data-widget-type="ranking_5"
      data-widget-template="#widget-template"
      data-widget-data-url="/api/data/widget/ranking/2015/G/functional/amount/162.json">

  </div>

  <div class="ranking_card clearfix"
      data-widget-type="ranking_6"
      data-widget-template="#widget-template"
      data-widget-data-url="/api/data/widget/ranking/2015/G/functional/amount_per_inhabitant/44.json">

  </div>

  <div class="ranking_card clearfix"
      data-widget-type="ranking_7"
      data-widget-template="#widget-template"
      data-widget-data-url="/api/data/widget/ranking/2015/I/economic/amount/313.json">

  </div>

  <div class="ranking_card clearfix"
      data-widget-type="ranking_8"
      data-widget-template="#widget-template"
      data-widget-data-url="/api/data/widget/ranking/2015/G/functional/amount_per_inhabitant/171.json">

  </div>

  <%= render partial: 'gobierto_budgets/pages/ranking_card_template' %>

</div>
