<%
  @title = "Módulo inteligencia en #{@place.name}"
  set_meta_tags title: @title
  set_meta_tags description: "Consulta y visualiza los presupuestos municipales de #{@place.name} del #{@year}. Consulta gastos e ingresos, indicadores presupuestarios, datos de ejecución..."
%>

<!-- First block. JS code in app/assets/javascripts/components/intelligenceBudgetLines.js  -->
<div data-intelligence-budget-lines data-url="<%= gobierto_budgets_api_intelligence_budget_lines_url(@place.id, ['year_from,year_to'].join(','), format: :json) %>">
  <h3>
    Partidas que más suben y bajan respecto en
    <%= select_tag("year_from", options_for_select(GobiertoBudgets::SearchEngineConfiguration::Year.all, GobiertoBudgets::SearchEngineConfiguration::Year.all.second)) %>
    vs
    <%= select_tag("year_to", options_for_select(GobiertoBudgets::SearchEngineConfiguration::Year.all, GobiertoBudgets::SearchEngineConfiguration::Year.all.first)) %>
    en
    <%= select_tag("variable", options_for_select([['Gasto total', 'amount'], ['Gasto por habitante', 'amount_per_inhabitant']], 'amount_per_inhabitant')) %>
  </h3>

  <div data-budget-line-up>
    <table>
      <thead>
        <tr>
          <td><strong>Más sube</strong></td>
          <td data-year-from></td>
          <td data-year-to></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <p><a href="#" data-view-all>Ver todas</a></p>
  </div>

  <div data-budget-line-down>
    <table>
      <thead>
        <tr>
          <td><strong>Más baja</strong></td>
          <td data-year-from></td>
          <td data-year-to></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <p><a href="#" data-view-all>Ver todas</a></p>
  </div>
</div>

<!-- Second block. JS code in app/assets/javascripts/components/intelligenceBudgetLinesMeans.js  -->
<div data-intelligence-budget-lines-means data-url="<%= gobierto_budgets_api_intelligence_budget_lines_means_url(@place.id, 'year', format: :json) %>">
  <h3>
    Partidas comparativamente más altas y más bajas en
    <%= select_tag("yearIntelligence", options_for_select(GobiertoBudgets::SearchEngineConfiguration::Year.all, GobiertoBudgets::SearchEngineConfiguration::Year.all.first)) %>
    en
    <%= select_tag("variable", options_for_select([['Gasto total', 'amount'], ['Gasto por habitante', 'amount_per_inhabitant']], 'amount_per_inhabitant')) %>
  </h3>

  <div data-budget-line-up data-place-name="<%= @place.name %>">
    <div class="left">
      <table>
        <thead>
          <tr>
            <td><strong>Más altas</strong></td>
            <td><%= @place.name %></td>
            <td data-select-filter-1 colspan="2"><%= filter_variables_for_means('province')%></td>
            <td data-select-filter-2 colspan="2"><%= filter_variables_for_means('country') %></td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="right" data-insight>
      <p>Insights</p>
    </div>
    <p><a href="#" data-view-all>Ver todas</a></p>
  </div>

  <div data-budget-line-down data-place-name="<%= @place.name %>">
    <div class="left">
      <table>
        <thead>
          <tr>
            <td><strong>Más bajas</strong></td>
            <td><%= @place.name %></td>
            <td data-select-filter-1 colspan="2"><%= filter_variables_for_means('province') %></td>
            <td data-select-filter-2 colspan="2"><%= filter_variables_for_means('country') %></td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="right" data-insight>
      <p>Insights</p>
    </div>
    <p><a href="#" data-view-all>Ver todas</a></p>
  </div>
</div>
