<%
  @title = "Presupuestos municipales de #{@place.name} del #{@year}"
  set_meta_tags title: @title
  set_meta_tags description: "Consulta y visualiza los presupuestos municipales de #{@place.name} del #{@year}. Consulta gastos e ingresos, indicadores presupuestarios, datos de ejecución..."
%>

<%= render partial: 'place_header' %>

<div class="main_metrics clearfix">

  <div class="metric selected"
    data-widget-template="#widget-template"
    data-widget-type="per_person"
    data-line-widget-series="means"
    data-line-widget-url="<%= gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'per_person', format: :json) %>"
    data-line-widget-type="per_person"
    data-widget-data-url="<%= gobierto_budgets_api_data_total_budget_per_inhabitant_path(ine_code: @place.id, year: @year, format: :json) %>">
  </div>

  <div class="metric"
    data-widget-template="#widget-template"
    data-widget-type="total_budget"
    data-line-widget-series="means"
    data-line-widget-url="<%= gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'total_budget', format: :json) %>"
    data-line-widget-type="total_budget"
    data-widget-data-url="<%= gobierto_budgets_api_data_total_budget_path(ine_code: @place.id, year: @year, format: :json) %>">
  </div>

  <div class="metric"
    data-widget-template="#widget-template"
    data-widget-type="population"
    data-widget-data-url="<%= gobierto_budgets_api_data_population_path(ine_code: @place.id, year: @year, format: :json) %>">
  </div>

  <div class="metric"
    data-widget-template="#widget-template-execution"
    data-widget-type="total_budget_execution"
    data-widget-data-url="<%= gobierto_budgets_api_data_total_budget_execution_path(ine_code: @place.id, year: @year, format: :json) %>">
  </div>

  <div class="metric"
    data-widget-template="#widget-template-debt"
    data-widget-type="debt"
    data-widget-data-url="<%= gobierto_budgets_api_data_debt_path(ine_code: @place.id, year: @year, format: :json) %>">
  </div>
</div>

<div class="metric_graphs clearfix">
  <div class="widget_graph show clearfix">
    <div class="col-1-2" id="lines_chart"></div>
    <div class="col-2-2">
      <div id="lines_tooltip"></div>
      <div class="help">
        <%= link_to 'Nota sobre los datos'.html_safe, gobierto_budgets_faq_path(anchor: 'no_data'), title: 'La base de datos que utilizamos no incluye datos para el 100% de los municipios, por lo que las medias están calculadas solo con los datos que existen (que son la gran mayoría). Más información en nuestras preguntas frecuentes', class: 'tipsit' %>
      </div>
    </div>
  </div>
</div>

<div class="section_separator" name="separator">
  <div class="sep"></div>
  Explora ingresos y gastos de <%= @place.name %>
  <div class="sep"></div>
</div>

<div class="ie_intro clearfix">

  <div class="cont-expenses">
    <header class="cat expenses">
      <h2><%= link_to 'Ingresos', '#', data: {rel: 'cont-switch', target: 'cont-income'} %></h2>
      <span class="sep">|</span>
      <h2>Gastos</h2>

      <div class="form_filters">
        <ul>
          <li><%= link_to 'Económica', gobierto_budgets_place_path(@place.slug, @year, {area: 'economic'}), remote: true, class: 'toggle', id: 'Economica' %></li>
          <li><%= link_to 'Funcional', gobierto_budgets_place_path(@place.slug, @year, {area: 'functional'}), remote: true, class: 'toggle buttonSelected', id: 'Funcional' %></li>
        </ul>
      </div>

      <div id="total_expense_budget" class="qty"><%= number_to_currency @expense_lines['aggregations']['total_budget']['value'], precision: 0 %></div>
    </header>

    <div class="graph" id="expense-treemap"
                       data-functional-url="<%= gobierto_budgets_place_budget_path(@place.slug, @year, GobiertoBudgets::BudgetLine::EXPENSE, 'functional', format: :json) %>"
                       data-economic-url="<%= gobierto_budgets_place_budget_path(@place.slug, @year, GobiertoBudgets::BudgetLine::EXPENSE, 'economic', format: :json) %>">
    </div>

    <div class="items">
      <table id="expense_lines">
        <%= render partial: 'gobierto_budgets/places/expense_lines', locals: { area_name: @area_name } %>
      </table>
    </div>
  </div>

  <div class="cont-income hidden">
    <header class="cat incomes">
      <h2>Ingresos</h2>
      <span class="sep">|</span>
      <h2><%= link_to 'Gastos', '#', data: {rel: 'cont-switch', target: 'cont-expenses'} %></h2>
      <div class="qty"><%= number_to_currency @income_lines['aggregations']['total_budget']['value'], precision: 0 %></div>
    </header>

    <div class="graph" id="income-treemap" data-economic-url="<%= gobierto_budgets_place_budget_path(@place.slug, @year, GobiertoBudgets::BudgetLine::INCOME, 'economic', format: :json) %>">
    </div>

    <div class="items">
      <table>
      <tr>
        <th>
          <input type="text" placeholder="Busca partidas de ingresos" class="search_items search_categories_budget-income" data-search-url="<%= gobierto_budgets_search_categories_path(@place.slug,@year, 'economic', GobiertoBudgets::BudgetLine::INCOME) %>">
        </th>
        <th class="right "><%= kind_literal(GobiertoBudgets::BudgetLine::INCOME, false) %> total</th>
        <th class="right "><%= kind_literal(GobiertoBudgets::BudgetLine::INCOME, false) %> por hab.</th>
        <th class="right ">% s/ total</th>
        <th class="bar_cont"></th>
      </tr>
      <%= render partial: 'gobierto_budgets/places/budget_lines',
                  collection: @income_lines['hits'],
                  as: 'budget_line',
                  locals: { total_budget: @income_lines['aggregations']['total_budget']['value'], kind: GobiertoBudgets::BudgetLine::INCOME, area_name: 'economic' } %>
      </table>
    </div>
  </div>
</div>

<% if current_user_admin? %>
  <strong style="color:red">Admin only</strong>
  <table>
    <thead>
      <tr style="font-weight:bold">
        <td colspan="2">¿Qué ingresos tiene tu ayuntamiento?</td>
        <td colspan="2">¿En qué se los gasta?</td>
      </tr>
    </thead>
    <% total_budget = @income_lines['aggregations']['total_budget']['value'] %>
    <!-- <%= total_budget %> -->
    <% income_entries, expense_entries = GobiertoBudgets::BudgetLine.top_values({year: @year, ine_code: @place.id}) %>
    <tbody>
      <% 0.upto(income_entries.length - 1) do |i| %>
        <tr>
          <td><%= budget_line_denomination 'economic', income_entries[i]['code'], GobiertoBudgets::BudgetLine::INCOME %></td>
          <td><%= percentage_of_total income_entries[i]['amount'], total_budget %>%</td>
          <td><%= budget_line_denomination 'functional', expense_entries[i]['code'], GobiertoBudgets::BudgetLine::EXPENSE %></td>
          <td><%= percentage_of_total expense_entries[i]['amount'], total_budget %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="featured_budget_line" data-featured-budget-line="<%= [@place.slug, @year].join('/') %>">
</div>

<% unless logged_in? %>
  <%= render partial: 'gobierto_budgets/places/cta_block' %>
<% end %>

<script type="text/html" id="widget-template">
  <div class="label">{{title}}</div>
  <div class="main {{sign}}">{{value}}</div>
  <div class="secondary">
    <div class="percentage_change up {{sign}}">{{delta_percentage}}%</div>
    <div class="ranking"><a href="{{ranking_url}}"><strong>#{{ranking_position}}</strong>/{{ranking_total_elements}}</a></div>
  </div>
</script>

<script type="text/html" id="widget-template-execution">
  <div class="label">{{title}}</div>
  {{#delta_percentage}}
  <div class="main {{sign}}">{{delta_percentage}} % ({{value}})</div>
  {{/delta_percentage}}
  {{^delta_percentage}}
  <div class="main {{sign}}">No disponible</div>
  {{/delta_percentage}}
</script>

<script type="text/html" id="widget-template-debt">
  <div class="label">{{title}}</div>
  {{#value}}
  <div class="main {{sign}}">{{value}}</div>
  {{/value}}
  {{^value}}
  <div class="main {{sign}}">No disponible</div>
  {{/value}}
</script>

<% content_for :javascript do %>
  var $featured = $('[data-featured-budget-line]');
  if($featured.length){
    var params = $featured.data('featured-budget-line');
    var slug = params.split('/')[0];
    var year = params.split('/')[1];
    $.ajax('/featured_budget_lines/' + slug + '?year=' + year);
  }
<% end %>
