<div class="data_sheet">

  <header class="clearfix">
    Estás viendo <%= @filter.expending? ? 'gasto' : 'ingresos' %> en

    <%= category_breadcrumb(category) %>

    <div class="form_filters" id="selectors">
      <div class="group">
        Contexto
        <ul id="context_selector" class="context buttons">
          <li><a href="javascript:void(null)" id="mean_national" class ="context button buttonSelected">País</a></li>
          <li><a href="javascript:void(null)" id="mean_autonomy" class ="context button">CCAA</a></li>
          <li><a href="javascript:void(null)" id="mean_province" class ="context button">Provincia</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="widget_container">

    <div class="widget clearfix">

      <div class="sub_element">
        <h3>
          <% if @filter.expending? %>
            Gasto total
          <% else %>
            Ingreso total
          <% end %>

        </h3>
        <div class="number"><%= format_currency(category.budget_national_total(@filter.year)) %></div>
      </div>

      <div class="sub_element">
        <h3>
          Media de gasto por municipio
        </h3>
        <div class="number"><%= format_currency(category.mean_national_per_place(@filter.year)) %></div>
      </div>

      <div class="sub_element">
        <h3>
          <% if @filter.expending? %>
            <span title="Gasto por habitante">Media gasto/habitante</span>
          <% else %>
            <span title="Ingreso por habitante">Media ingreso/habitante</span>
          <% end %>

        </h3>
        <div class="number"><%= format_currency(category.mean_national_per_person(@filter.year)) %></div>
      </div>

      <div class="sub_element">
        <h3>
          Ranking
        </h3>
        <div class="number"><%= number_with_delimiter(category.national_ranking(@filter.year)) %><span class="sub"> / <%= number_with_delimiter(category.class.categories_count(category.level, category.kind)) %></span></div>
      </div>

    </div>

    <div class="widget">
      <div class="widget_cont">
        <h2>Distribución</h2>
        <div id="vis_distribution"></div>
      </div>
    </div>

    <div class="widget">
      <div class="widget_cont">

        <h2>Dispersión</h2>

        <div id="vis_dispersion"></div>
      </div>
    </div>

    <div class="widget ">
      <div class="widget_cont">

        <% if @filter.expending? %>
          <h2>Municipios con mayor gasto / habitante</h2>
        <% else %>
          <h2>Municipios con mayor ingreso / habitante</h2>
        <% end %>

        <table>
        </table>

      </div>
    </div>

    <div class="widget ">
      <div class="widget_cont">

        <% if @filter.expending? %>
          <h2>Municipios con menor gasto / habitante</h2>
        <% else %>
          <h2>Municipios con menor ingreso / habitante</h2>
        <% end %>

        <table>
        </table>

      </div>
    </div>
  </div>
</div>
