<div class="data_sheet">

  <header class="clearfix">
    Estás viendo <%= @filter.expending? ? 'gasto' : 'ingresos' %> en

    <%= category_breadcrumb(category) %>

    <div class="form_filters" id="selectors">
      <div class="group">
        Ver
        <ul id="measure_selector" class="measure buttons">
           <li><a href="javascript:void(null)" id="per_person" class ="measure button buttonSelected">por habitante</a></li><!--
        --><li><a href="javascript:void(null)" id="percentage" class ="measure button">% sobre el total</a></li>
        </ul>
      </div>
    </div>

  </header>

  <div class="widget_container">

    <div class="widget clearfix">

      <div class="sub_element">
        <h3>
          <% if @filter.expending? %>
            Gasto total
          <% else %>
            Ingreso total
          <% end %>

        </h3>
        <div class="number"><%= format_currency(category.budget_national_total(@filter.year)) %></div>
      </div>

      <div class="sub_element">
        <h3>
          Media de gasto/municipio
        </h3>
        <div class="number"><%= format_currency(category.budget_national_total(@filter.year)/Population.count) %></div>
      </div>

      <div class="sub_element">
        <h3>
          <% if @filter.expending? %>
            <span title="Gasto por habitante">Media gasto/habitante</span>
          <% else %>
            <span title="Ingreso por habitante">Media ingreso/habitante</span>
          <% end %>

        </h3>
        <div class="number"><%= format_currency(category.budget_national_total(@filter.year)/Population.total) %></div>
      </div>

      <div class="sub_element">
        <h3>
          Ranking
        </h3>
        <div class="number">

        <% if @filter.functional? %>
            <%= number_with_delimiter(category.national_ranking(@filter.year)) %><span class="sub"> / <%= number_with_delimiter(category.class.categories_count(category.level)) %></span>
          <% else %>
            <%= number_with_delimiter(category.national_ranking(@filter.year)) %><span class="sub"> / <%= number_with_delimiter(category.class.categories_count(category.level, category.kind)) %></span>
          <% end %>
        </div>
      </div>

    </div>

    <% if not @filter.location? %>
    <div class="widget">
      <div class="widget_cont">
        <h2>Distribución</h2>
        <div id="vis_distribution"></div>
      </div>
    </div>
    <% end %>

    <div class="widget">
      <div class="widget_cont">

        <h2>Dispersión</h2>

        <div id="vis_dispersion"></div>
      </div>
    </div>

    <div class="widget ">
      <div class="widget_cont">

        <% if @filter.expending? %>
          <h2>Municipios con mayor gasto / habitante</h2>
        <% else %>
          <h2>Municipios con mayor ingreso / habitante</h2>
        <% end %>

        <table>
          <% category.bigger_budgets_per_inhabitant(@filter.year).each do |budget_line|  %>
            <tr>
              <td><%= link_to(truncate(budget_line.place.name, length: 72), place_path(budget_line.place, params), title: budget_line.place.name) %></td>
              <td class="right"><%= format_currency(budget_line.amount) %></td>
            </tr>
          <% end %>
        </table>

      </div>
    </div>

    <div class="widget ">
      <div class="widget_cont">

        <% if @filter.expending? %>
          <h2>Municipios con menor gasto / habitante</h2>
        <% else %>
          <h2>Municipios con menor ingreso / habitante</h2>
        <% end %>

        <table>
          <% category.smaller_budgets_per_inhabitant(@filter.year).each do |budget_line|  %>
            <tr>
              <td><%= link_to(truncate(budget_line.place.name, length: 72), place_path(budget_line.place, params), title: budget_line.place.name) %></td>
              <td class="right"><%= format_currency(budget_line.amount) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
