<div class="data_sheet">

  <header class="clearfix">
    Estás viendo

    <%= place.province.autonomous_region.name %> > <%= place.province.name %> > <%= place.name %>

    <div class="form_filters" id="selectors">
      <div class="group">
        Contexto
        <ul id="context_selector" class="context buttons">
          <li><a href="javascript:void(null)" id="mean_national" class ="context button buttonSelected">País</a></li>
          <li><a href="javascript:void(null)" id="mean_autonomy" class ="context button">CCAA</a></li>
          <li><a href="javascript:void(null)" id="mean_province" class ="context button">Provincia</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="widget_container">

    <div class="widget clearfix">

      <div class="sub_element">
        <h3>
          <% if @filter.expending? %>
            Gasto total
          <% else %>
            Ingreso total
          <% end %>

          <% if @filter.year > 2010 %>
            <% p = percentage(place.data.send("total_functional_#{@filter.year}"),
                              place.data.send("total_functional_#{@filter.year-1}")) %>
            <span class="percenchange" class="tipsit" title="Cambio de <%= p %> respecto al año anterior"><%= p %></span>
          <% end %>
        </h3>
        <div class="number"><%= format_currency(place.data.send("total_functional_#{@filter.year}")) %></div>
      </div>

      <div class="sub_element">
        <h3>
          Habitantes
        </h3>
        <div class="number"><%= number_with_delimiter(place.data.total) %></div>
      </div>

      <div class="sub_element">
        <h3>
          <% if @filter.expending? %>
            <span title="Gasto por habitante">Gasto/habitante</span>
          <% else %>
            <span title="Ingreso por habitante">Ingreso/habitante</span>
          <% end %>

          <% if @filter.year > 2010 %>
            <% p = percentage(place.data.send("total_functional_#{@filter.year}") / place.data.total,  place.data.send("total_functional_#{@filter.year - 1}") / place.data.total) %> 
            <span class="percenchange" class="tipsit" title="Cambio de <%= p %> respecto al año anterior"><%= p %></span>
          <% end %>
        </h3>
        <div class="number"><%= number_to_currency(place.data.send("total_functional_#{@filter.year}") / place.data.total, precision: 2, strip_insignificant_zeros: true) %></div>
      </div>

      <div class="sub_element">
        <h3>
          <% r1 = place.data.ranking(@filter.year) %>
          Ranking
          <% if @filter.year > 2010 %>
            <% r2 = place.data.ranking(@filter.year - 1)%> 
            <span class="percenchange" class="tipsit" title="Cambio de <%= r1 - r2 %> posiciones respecto al año anterior"><%= r1 - r2 %></span>
          <% end %>
        </h3>
        <div class="number"><%= number_with_delimiter(r1) %><span class="sub"> / <%= number_with_delimiter(Population.count) %></span></div>
      </div>

    </div>

    <div class="widget">
      <div class="widget_cont">

        <% if @filter.expending? %>
          <h2>Gasto por áreas funcionales</h2>
          <div id="bars_vis_fun" data-url="/api/data/<%= @filter.location.id %>/<%= @filter.year %>/functional.json"></div>
        <% else %>
          <h2>Ingreso por áreas funcionales</h2>
          <div><p>No hay desglose de ingresos por áreas funcionales</p></div>
        <% end %>

      </div>
    </div>

    <div class="widget">
      <div class="widget_cont">

        <% if @filter.expending? %>
          <h2>Gasto por áreas económicas</h2>
        <% else %>
          <h2>Ingreso por áreas económicas</h2>
        <% end %>

        <div id="bars_vis_econ" data-url="/api/data/<%= @filter.location.id %>/<%= @filter.year %>/<%= @filter.kind %>/economic.json"></div>
      </div>
    </div>

    <div class="widget ">
      <div class="widget_cont">

        <% if @filter.expending? %>
          <h2>Partidas con mayor gasto</h2>
        <% else %>
          <h2>Partidas con mayor ingreso</h2>
        <% end %>

        <table>
        <% if @filter.functional? %>
          <% place.data.bigger_functional_budgets(@filter.year).each do |budget_line|  %>
          <tr>
            <td><%= link_to(truncate(budget_line.name, length: 72), budget_functional_item_path(budget_line.place_id, budget_line.code, params), title: budget_line.name) %></td>
            <td class="right"><%= format_currency(budget_line.amount) %></td>
          </tr>
          <% end %>
        <% else %>
          <% place.data.bigger_economic_budgets(@filter.year, @filter.kind).each do |budget_line|  %>
          <tr>
            <td><%= link_to(truncate(budget_line.name, length: 72), budget_economic_item_path(budget_line.place_id, budget_line.code, params), title: budget_line.name) %></td>
            <td class="right"><%= format_currency(budget_line.amount) %></td>
          </tr>
          <% end %>
        <% end %>
        </table>

      </div>
    </div>

    <div class="widget ">
      <div class="widget_cont">

        <% if @filter.expending? %>
          <h2>Partidas con menor gasto</h2>
        <% else %>
          <h2>Partidas con menor ingreso</h2>
        <% end %>

        <table>
        <% if @filter.functional? %>
          <% place.data.smaller_functional_budgets(@filter.year).each do |budget_line|  %>
          <tr>
            <td><%= link_to(truncate(budget_line.name, length: 72), budget_functional_item_path(budget_line.place_id, budget_line.code, params), title: budget_line.name) %></td>
            <td class="right"><%= format_currency(budget_line.amount) %></td>
          </tr>
          <% end %>
        <% else %>
          <% place.data.smaller_economic_budgets(@filter.year, @filter.kind).each do |budget_line|  %>
          <tr>
            <td><%= link_to(truncate(budget_line.name, length: 72), budget_economic_item_path(budget_line.place_id, budget_line.code, params), title: budget_line.name) %></td>
            <td class="right"><%= format_currency(budget_line.amount) %></td>
          </tr>
          <% end %>
        <% end %>
        </table>

      </div>
    </div>

  </div>
</div>
