<%= link_to 'Resetear', budgets_path %>

<br>

<%= form_tag budgets_path, method: :get do %>

  <%= label_tag :place, 'Municipio' %>
  <%= select_tag :place, options_for_select(INE::Places::Place.all.map{|p| [p.name, p.id]}, params[:place]), class: 'select2' %>

  <br>

  <%= label_tag :functional_area, 'Area funcional' %>
  <%= select_tag :functional_area, options_for_select(FunctionalArea.items_for_select, params[:functional_area]), include_blank: true, class: 'select2' %>

  <br>

  <%= label_tag :economic_area, 'Area económica' %>
  <%= select_tag :economic_area, options_for_select(EconomicArea.items_for_select, params[:economic_area]), include_blank: true, class: 'select2' %>

  <br>
 
  <%= label_tag :kind, 'Tipo' %>
  <%= select_tag :kind, options_for_select(EconomicArea.kinds, params[:kind]), include_blank: true %>

  <br>

  <%= label_tag :year, 'Año' %>
  <%= select_tag :year, options_for_select(Budget.years, params[:year]) %>

  <br>

  <%= label_tag :size, 'Tamaño' %>
  <%= select_tag :size, options_for_select(['Todos'], params[:size]) %>

  <br>

 <%= submit_tag 'Filtrar' %>
<% end %>

<div>
  <% if @budgets && @budgets.any? %>
    <table>
      <% @budgets.each do |budget| %>

        <tr>
          <% if @filter.by_place? %>
            <td><%= budget.code %></td>
            <td><%= budget.name %></td>
          <% else %>
            <td><%= budget.place_name %></td>
            <td><%= budget.population.total %></td>
          <% end %>
          <td><%= money(budget.amount / budget.population.total) %></td>
          <td><%= money(budget.amount) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
