<div class="main-nav">

  <%= form_tag budgets_path, method: :get do %>

    <div class="clearfix">

      <div class="col-1-2">

        <div class="form_item">
          <%= label_tag :place, 'Municipio' %>
          <%= select_tag :place, options_for_select(INE::Places::Place.all.map{|p| [p.name, p.id]}, params[:place]), class: 'select2', prompt: 'Todos' %>
        </div>

        <div class="form_item">
          <%= label_tag :functional_area, 'Area funcional' %>

          <div class="select_from_tree" style="display: none">
            
            <div class="label">Todas <i class="fa fa-sort-down"></i></div>
            
            <div class="tree">

              <ul>
                <li>Deuda público</li>
                <li>Servicios públicos básicos</li>
                <li>Actuaciones de protección y promoción social</li>
                <li>Producción de bienes públicos de caracter preferente</li>
                <li>Actuaciones de carácter económico</li>
                <li>Actuaciones de carácter general</li>
              </ul>


            </div>

          </div>

          <%= select_tag :functional_area, options_for_select(FunctionalArea.items_for_select, params[:functional_area]), prompt: 'Total', class: 'select2' %>
        </div>

        <div class="form_item">
          <%= label_tag :economic_area, 'Area económica' %>
          <%= select_tag :economic_area, options_for_select(EconomicArea.items_for_select, params[:economic_area]), prompt: 'Total', class: 'select2' %>
        </div>

      </div>

      <div class="col-2-2">

        <div class="form_item">
          <%= label_tag :kind, 'Tipo' %>
          <%= select_tag :kind, options_for_select(EconomicArea.kinds, params[:kind]) %>
        </div>

        <div class="form_item">
          <%= label_tag :year, 'Año' %>
          <%= select_tag :year, options_for_select(BudgetFilter.years, params[:year]) %>
        </div>


        <div class="form_item">
          <%= label_tag :size, 'Tamaño' %>
          <%= select_tag :size, options_for_select(BudgetFilter.populations, params[:size]), prompt: 'Todos' %>
        </div>

      </div>

    </div>

    <%= submit_tag 'Filtrar' %> <%= link_to 'Resetear', budgets_path %>

  <% end %>

</div>

<div>
  <% if @budget_lines && @budget_lines.any? %>
    <table>
      <theader>
        <tr>
          <th></th>
          <% if @filter.global? %>
            <th>Cód. Partida</th>
            <th>Partida</th>
          <% else %>
            <th>Municipio</th>
            <th>Habitantes</th>
          <% end %>
          <th>Gasto/Hab</th>
          <th>Gasto</th>
          <th>% S/Total</th>
          <th></th>
        </tr>
      </theader>
      <tbody>
        <% @budget_lines.each do |budget_line| %>
          <tr>
            <td></td>
            <% if @filter.global? %>
              <td><%= budget_line.code %></td>
              <td><%= budget_line.name %></td>
            <% else %>
              <td><%= budget_line.place_name %></td>
              <td><%= budget_line.population.total %></td>
            <% end %>
            <td class="money"><%= money(budget_line.amount / budget_line.population.total) %></td>
            <td class="money"><%= money(budget_line.amount) %></td>
            <td class="money"><%= percentage(budget_line.amount, budget_line.place.total_budget) %></td>
            <td><%= link_to 'Compara', '' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>