<%= link_to 'Resetear', budgets_path %>

<br>

<%= form_tag budgets_path, method: :get do %>

  <%= label_tag :year, 'Año' %>
  <%= select_tag :year, options_for_select(Budget.years, params[:year]) %>

  <%= label_tag :place, 'Municipio' %>
  <%= text_field_tag :place, params[:place] %>

  <br>

  <%= label_tag :functional_area, 'Area funcional' %>
  <%= select_tag :functional_area, options_for_select(FunctionalArea.items_for_select, params[:functional_area]), include_blank: true %>

  <br>

  <%= label_tag :kind, 'Tipo' %>
  <%= select_tag :kind, options_for_select(EconomicArea.kinds, params[:kind]), include_blank: true %>

  <br>

  <%= label_tag :economic_area, 'Area económica' %>
  <%= select_tag :economic_area, options_for_select(EconomicArea.items_for_select, params[:economic_area]), include_blank: true %>

  <br>
  <%= submit_tag 'Filtrar' %>
<% end %>

<div>
  <% if @budgets && @budgets.any? %>
    <table>
      <% @budgets.each do |budget| %>
        <tr>
          <td><%= budget.year %></td>
          <td><%= budget.place_name %></td>
          <td><%= budget.amount %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
