<div class="main-nav">
  <%= form_tag budgets_path, method: :get do %>

    <div class="clearfix">

      <div class="col-1-2">

        <div class="form_item">
          <%= label_tag :place, 'Municipio' %>
          <%= select_tag :place, options_for_select(INE::Places::Place.all.map{|p| [p.name, p.id]}, params[:place]), class: 'select2', prompt: 'Todos' %>
        </div>

        <div class="form_item">
          <%= label_tag :functional_area, 'Area funcional' %>

          <div class="select_from_tree">

            <div class="label"><%= link_to 'Todas <i class="fa fa-sort-down"></i>'.html_safe, '' %></div>

            <div class="tree">

              <ul class="bonsai">
                <% FunctionalArea.root_items.each do |item| %>
                  <li>
                    <%= link_to item.name, '#', data: { 'menu-area' => item.code, 'rel' => 'functional_area' } %>
                    <%= render_children(item, 'functional_area' ) %>
                  </li>
                <% end %>
              </ul>

            </div>
          </div>
          <%= hidden_field_tag :functional_area, params[:functional_area] %>

        </div>

        <% if false %>
          <div class="form_item">
            <%= label_tag :economic_area, 'Area econ칩mica' %>

            <div class="select_from_tree">

              <div class="label"><%= link_to 'Todas <i class="fa fa-sort-down"></i>'.html_safe, '' %></div>

              <div class="tree">
                <ul class="bonsai">
                  <% EconomicArea.root_items.each do |item| %>
                    <li>
                      <%= link_to item.name, '#', data: { 'menu' => item.code, 'rel' => 'economic_area'  } %>
                      <%= render_children(item, 'economic_area') %>
                    </li>
                  <% end %>
                </ul>

              </div>
            </div>

            <%= hidden_field_tag :economic_area, params[:economic_area] %>
            <%# select_tag :economic_area, options_for_select(EconomicArea.items_for_select, params[:economic_area]), prompt: 'Total', class: 'select2' %>
          </div>
        <% end %>

      </div>

      <div class="col-2-2">
        <div class="form_item">
          <%= label_tag :kind, 'Tipo' %>
          <%= select_tag :kind, options_for_select(EconomicArea.kinds, params[:kind]) %>
        </div>

        <div class="form_item">
          <%= label_tag :year, 'A침o' %>
          <%= select_tag :year, options_for_select(BudgetFilter.years, params[:year]) %>
        </div>

        <div class="form_item">
          <%= label_tag :size, 'Tama침o' %>
          <%= select_tag :size, options_for_select(BudgetFilter.populations, params[:size]), prompt: 'Todos' %>
        </div>
      </div>
    </div>

    <%= submit_tag 'Filtrar' %> <%= link_to 'Resetear', budgets_path %>
  <% end %>
</div>

<div>
  <% if @budget_lines && @budget_lines.any? %>
    <table class="dynatable">
      <thead>
        <tr>
          <th>Evoluci칩n</th>
          <th>Partida</th>
          <th>Municipio</th>
          <th>Habitantes</th>
          <th>Gasto/Hab</th>
          <th>Gasto</th>
          <th>% S/Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @budget_lines.each do |budget_line| %>
          <% next if budget_line.place.nil? %>
          <tr>
            <td><span class="sparkline" data-sparkvalues='<%= budget_line.historic_values.join(',') %>'></span></td>
            <td><%= budget_line.name %></td>
            <td><%= budget_line.place_name %></td>
            <td><%= number_with_delimiter(budget_line.place.population.total, delimiter: '.', separator: ',') %></td>
            <td class="money"><%= money(budget_line.amount / budget_line.place.population.total) %></td>
            <td class="money"><%= money(budget_line.amount) %></td>
            <td class="money"><%= percentage(budget_line.amount, budget_line.place.total_budget) %></td>
            <td><%= link_to 'Compara', '' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
