<div class="main-nav">
  <%= form_tag budgets_path, method: :get do %>

    <div class="clearfix">

      <div class="col-1-2">

        <div class="form_item">
          <%= label_tag :query, 'Municipio' %>
          <input type="search" name="query" placeholder="Busca tu municipio, provincia o comunidad" class="place_search input" id="search" value="<%= filter_location_name %>" />

          <%= link_to 'x', '', data: {reset: 'location'}  %>

          <%= hidden_field_tag :location_id, params[:location_id] %>
          <%= hidden_field_tag :location_type, params[:location_type] %>
        </div>

        <div class="form_item js-functional">
          <%= label_tag :functional_area, 'Area funcional' %>

          <div class="select_from_tree">
            <%= render partial: 'functional_area_tree', locals: {kind: EconomicArea::EXPENDING} %>
          </div>
          <%= link_to 'x', '', data: {reset: 'functional_area'}  %>

          <%= hidden_field_tag :functional_area, params[:functional_area] %>
        </div>

        <div class="form_item js-economic">
          <%= label_tag :economic_area, 'Area económica' %>

          <div class="select_from_tree">
            <%= render partial: 'economic_area_tree', locals: {kind: params[:kind] || EconomicArea::EXPENDING} %>
          </div>
          <%= link_to 'x', '', data: {reset: 'economic_area'}  %>

          <%= hidden_field_tag :economic_area, params[:economic_area] %>
        </div>
      </div>

      <div class="col-2-2">
        <div class="form_item">
          <%= label_tag :kind, 'Tipo' %>
          <%= select_tag :kind, options_for_select(EconomicArea.kinds, params[:kind]) %>
        </div>

        <div class="form_item">
          <%= label_tag :year, 'Año' %>
          <%= select_tag :year, options_for_select(BudgetFilter.years, params[:year]) %>
        </div>

        <div class="form_item">
          <%= label_tag :population, 'Tamaño' %>
          <%= select_tag :population, options_for_select(BudgetFilter.populations, params[:population]), prompt: 'Todos' %>
        </div>
      </div>
    </div>

  <% end %>
</div>

<% if @filter.place? %>
  <%= render 'data_sheet', place: @filter.location %>
<% end %>

<div>
  <% if @filter.active? %>
    <table class="dynatable">
      <thead>
        <tr>
          <th>evolution</th>
          <th>name</th>
          <th>place_name</th>
          <th class="soft right wadus">population</th>
          <th class="right wadus">budget_per_inhabitant</th>
          <th class="right">budget</th>
          <th class="right">percentage_from_total</th>
          <th>compare_links</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  <% end %>
</div>

<script>
  window.headerName = {
    'evolution': 'Evolución',
    'name': 'Partida',
    'place_name': 'Municipio',
    'population': 'Población',
    'budget_per_inhabitant': '<%= @filter.expending? ? 'Gasto/Hab' : 'Ingreso/Hab' %>',
    'budget': '<%= @filter.expending? ? 'Gasto' : 'Ingreso' %>',
    'percentage_from_total': '% S/Total',
    'compare_links': ''
  };
</script>
