<div class="column">
  <div class="pure-g numbers_intro">
    <div class="pure-u-1 pure-u-md-4-24">
      <h2><%= t('.in_year', year: @year) %></h2>
    </div>

    <div class="pure-u-1 pure-u-md-10-24 p_h_1">
      <ul>
        <li>Por habitante <strong>nos gastamos <span class="highlight">1.403€</span></strong>.</li>
        <li>En total son <strong><span class="highlight">4442M€</span></strong>.</li>
        <li>El año pasado gastamos un <span class="highlight"><strong>28% más</strong></span> de lo planeado.</li>
        <li>Debemos <strong><span class="highlight">4.567M€</span></strong>, un 10% menos que hace un año.</li>
      </ul>
    </div>

    <div class="pure-u-1 pure-u-md-6-24 p_h_1">
      <% pending do %>
        <%= link_to 'Más cifras', '', class:'soft_cta' %>
      <% end %>
    </div>

    <div class="pure-u-1 pure-u-md-4-24">
      <div class="social_links_container">
        <a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|XXX"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|XXX"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social_share code" data-share-network="code" data-track-event="Social Share|Click Facebook|XXX"><i class="fa fa-code"></i></a>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="pure-g intro_p_l">

    <div class="pure-u-1 pure-u-md-4-24">
      <h2>Los principales gastos e ingresos de tu ayuntamiento</h2>

      <% pending do %>
        <div class="tip">
          <%= link_to '<i class="fa fa-info-circle"></i> Te contamos de un vistazo en qué consiste el presupuesto'.html_safe %>
        </div>
      <% end %>
    </div>

    <div class="pure-u-1 pure-u-md-10-24 p_h_1">
      <h3>Ingresos</h3>

      <table>
        <% GobiertoBudgets::TopBudgetLine.limit(5).where(year: @year, place: @site.place, kind: GobiertoBudgets::BudgetLine::INCOME).all.each do |budget_line| %>
          <tr>
            <td><%= link_to budget_line.name, '#' %></td>
            <td class="qty"><%= number_with_precision(budget_line.percentage_of_total * 100, precision: 2) + '%' %></td>
          </tr>
        <% end %>
      </table>

      <div class="small center m_v_2">
        <%= link_to 'ver todos', '#incomes' %>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-10-24 p_h_1">
      <h3>Gastos</h3>

      <table>
        <% GobiertoBudgets::TopBudgetLine.limit(5).where(year: @year, place: @site.place, kind: GobiertoBudgets::BudgetLine::EXPENSE).all.each do |budget_line| %>
          <tr>
            <td><%= link_to budget_line.name, '#' %></td>
            <td class="qty"><%= number_with_precision(budget_line.percentage_of_total * 100, precision: 2) + '%' %></td>
          </tr>
        <% end %>
      </table>

      <div class="small center m_v_2">
        <%= link_to 'ver todos', '#incomes' %>
      </div>
    </div>
  </div>

  <div class="featured_b_l block m_v_3" data-featured-budget-line="<%= gobierto_budgets_featured_budget_line_url(@site.place.slug, year: @year, host: Site.budgets_host, template: 'gobierto_site_template') %>">
  </div>

  <div class="separator"></div>

  <div class="pure-g" data-vis-lines>
    <div class="pure-u-1 pure-u-md-1-2 block">
      <h2>De un vistazo</h2>

      <div id="lines_chart"></div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 block">
      <h2>Contexto</h2>

      <div id="lines_tooltip"></div>
      <div class="help">
        <%= link_to 'Nota sobre los datos'.html_safe, gobierto_budgets_faq_path(anchor: 'no_data'), title: 'La base de datos que utilizamos no incluye datos para el 100% de los municipios, por lo que las medias están calculadas solo con los datos que existen (que son la gran mayoría). Más información en nuestras preguntas frecuentes', class: 'tipsit' %>
      </div>
    </div>

    <div class="pure-u-1">
      <div class="filter m_v_2">
        <%= link_to 'Por habitante', '#', class:'active',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'per_person', format: :json), "line-widget-type" => "per_person" } %>
        <%= link_to 'En total', '#', class:'',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'total_budget', format: :json), "line-widget-type" => "total_budget" } %>

        <% pending do %>
          <span class="separator_v"></span>
          <span class="label">Visualizar:</span>

          <%= link_to 'Evolución', '#', class:'active', data: { "switch_viz_to" => "lines" } %>
          <%= link_to 'Distribución', '#', class: '', data: { "switch_viz_to" => "treemap" } %>
        <% end %>
      </div>
    </div>
  </div>

  <% pending do %>
    <div class="pure-g" data-vis-treemap>
      <div class="pure-u-1 block">
        <h2>Distribución</h2>

        <div id="treemap"></div>
      </div>

      <div class="pure-u-1">
        <div class="filter m_v_2">
          <%= link_to 'Por habitante', '#', class:'active',  data: {"treemap-widget-series" => "means", "treemap-widget-url" => gobierto_budgets_api_data_treemaps_path(ine_code: @place.id, year: @year, what: 'per_person', format: :json), "treemap-widget-type" => "per_person" } %>
          <%= link_to 'En total', '#', class:'',  data: {"treemap-widget-series" => "means", "treemap-widget-url" => gobierto_budgets_api_data_treemaps_path(ine_code: @place.id, year: @year, what: 'total_budget', format: :json), "treemap-widget-type" => "total_budget" } %>

          <span class="separator_v"></span>

          <span class="label">Visualizar:</span>

          <%= link_to 'Evolución', '#', class:'', data: { "switch_viz_to" => "lines" } %>
          <%= link_to 'Distribución', '#', class: 'active', data: { "switch_viz_to" => "treemap" } %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="separator"></div>

  <div class="block explore_detail">

    <h2>Explora el detalle</h2>

    <div class="tabs m_v_2">
      <ul>
        <li class="active"><%= link_to 'Gastos', gobierto_sites_budget_lines_path(year: @year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: GobiertoBudgets::BudgetLine::FUNCTIONAL), data: { "budget-lines-tab": GobiertoBudgets::BudgetLine::EXPENSE, remote: true } %></li>
        <li><%= link_to 'Ingresos', gobierto_sites_budget_lines_path(year: @year, kind: GobiertoBudgets::BudgetLine::INCOME, area_name: GobiertoBudgets::BudgetLine::ECONOMIC), data: { "budget-lines-tab": GobiertoBudgets::BudgetLine::INCOME, remote: true } %></li>
      </ul>
    </div>

    <div class="pure-g">

      <div class="pure-u-1 pure-u-md-2-3 table p_h_r_3" data-budget-lines>
        <%= render partial: 'gobierto_sites/budget_lines/index', locals: { place_budget_lines: @place_budget_lines, kind: @kind, area_name: @area_name }  %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <div class="m_v_2">
          <div class="tip">
            <%# link_to '<i class="fa fa-info-circle"></i> Consulta la Guía sobre el Presupuesto Municipal para saber más'.html_safe %>
          </div>
        </div>

        <h3>Busca una partida específica</h3>

        <form>
          <input type="text">
          <button>Buscar</button>
        </form>

        <div class="small m_v_3">
          <p>Ejemplos:</p>
          <ul>
            <li><%= link_to 'Servicio de recogida de basuras', 'budget_line' %></li>
            <li><%= link_to 'Servicios deportivos', 'budget_line' %></li>
            <li><%= link_to 'Promoción cultural', 'budget_line' %></li>
          </ul>

        </div>
      </div>
    </div>

    <div class="pure-g " data-tab="expenses" id="expenses"></div>
  </div>
</div>
