<% title t('.summary') %>

<div class="column">
  <div class="pure-g numbers_intro">
    <div class="pure-u-1 pure-u-md-4-24">
      <h2><%= t('.in_year', year: @year) %></h2>
    </div>

    <div class="pure-u-1 pure-u-md-10-24 p_h_1">
      <ul>
        <li><%= t('.per_person') %> <strong><%= t('.we_spend') %> <span class="highlight"><%= number_to_currency @site_stats.total_budget_per_inhabitant, precision: 2 %></span></strong>.</li>
        <li><%= t('.totally') %><strong> <span class="highlight"><%= format_currency @site_stats.total_budget %></span></strong>.</li>
        <% if @site_stats.has_data?(:total_budget_planned, @year) && @site_stats.has_data?(:total_budget_executed, @year) %>
          <li><%= t('.this_year_we_spent') %> <span class="highlight"><strong><%= @site_stats.percentage_difference(variable1: :total_budget_executed, variable2: :total_budget_planned, year: @year) %></strong></span> <%= t '.than_planned' %>.</li>
        <% else %>
          <li><%= t('.last_year_we_spent') %> <span class="highlight"><strong><%= @site_stats.percentage_difference(variable1: :total_budget_executed, variable2: :total_budget_planned, year: @year-1) %></strong></span> <%= t '.than_planned' %>.</li>
        <% end %>
        <% if @site_stats.has_data?(:debt, @year) && @site_stats.has_data?(:debt, @year-1) %>
          <li><%= t('.this_year_data_we_owe') %> <strong><span class="highlight"><%= format_currency @site_stats.debt(@year) %></span></strong>, <%= number_with_precision(@site_stats.percentage_difference(variable1: :debt, year1: @year, year2: @year-1), precision: 2) %> <%= t('.than_last_year') %>.</li>
        <% else %>
          <li><%= t('.last_year_data_we_owe') %> <strong><span class="highlight"><%= format_currency @site_stats.debt(@year - 1) %></span></strong>, <%= number_with_precision(@site_stats.percentage_difference(variable1: :debt, year1: @year-1, year2: @year-2), precision: 2) %> <%= t('.than_two_years_ago') %>.</li>
        <% end %>
      </ul>
    </div>

    <div class="pure-u-1 pure-u-md-6-24 p_h_1">
      <% pending do %>
        <%= link_to 'Más cifras', '', class:'soft_cta' %>
      <% end %>
    </div>

    <div class="pure-u-1 pure-u-md-4-24" data-share>
      <div class="social_links_container" data-share-text="<%= t('.twitter_text', name: @site.place.name, year: @year) %>">
        <a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|XXX"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|XXX"><i class="fa fa-facebook"></i></a>
        <% pending do %>
          <a href="#embed-graph-code" class="social_share code open_modal" data-track-event="Social Share|Click Code|XXX"><i class="fa fa-code"></i></a>
        <% end %>
      </div>
    </div>
  </div>

  <% pending do %>
    <%= render partial: 'shared/embed' %>
  <% end %>

  <div class="separator"></div>

  <div class="pure-g intro_p_l">

    <div class="pure-u-1 pure-u-md-4-24">
      <h2><%= t('.main_budget_lines') %></h2>

      <% pending do %>
        <div class="tip">
          <%= link_to '<i class="fa fa-info-circle"></i> Te contamos de un vistazo en qué consiste el presupuesto'.html_safe %>
        </div>
      <% end %>
    </div>

    <div class="pure-u-1 pure-u-md-10-24 p_h_1">
      <h3><%= t('.income') %></h3>

      <table class="med_bg">
        <% @top_income_budget_lines.each do |budget_line| %>
          <tr>
            <td><%= link_to budget_line.name, gobierto_sites_budget_line_path(budget_line.to_param) %></td>
            <td class="qty"><%= number_with_precision(budget_line.percentage_of_total * 100, precision: 2) + '%' %></td>
          </tr>
        <% end %>
      </table>

      <div class="small center m_v_2">
        <%= link_to 'ver todos', gobierto_sites_budget_lines_path(year: @year, kind: GobiertoBudgets::BudgetLine::INCOME, area_name: GobiertoBudgets::BudgetLine::ECONOMIC, level: 1) %>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-10-24 p_h_1">
      <h3><%= t('.expenses') %></h3>

      <table class="med_bg">
        <% @top_expense_budget_lines.each do |budget_line| %>
          <tr>
            <td><%= link_to budget_line.name, gobierto_sites_budget_line_path(budget_line.to_param) %></td>
            <td class="qty"><%= number_with_precision(budget_line.percentage_of_total * 100, precision: 2) + '%' %></td>
          </tr>
        <% end %>
      </table>

      <div class="small center m_v_2">
        <%= link_to t('.see_all'), gobierto_sites_budget_lines_path(year: @year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: GobiertoBudgets::BudgetLine::FUNCTIONAL, level: 1) %>
      </div>
    </div>
  </div>

  <div class="featured_b_l block m_v_3" data-featured-budget-line="<%= gobierto_budgets_featured_budget_line_url(@site.place.slug, year: @year, host: Site.budgets_host, template: 'gobierto_site_template') %>">
  </div>

  <div class="separator"></div>

  <div class="pure-g" data-vis-lines>
    <div class="pure-u-1 pure-u-md-1-2 block">
      <h2><%= t('.at_a_glance') %></h2>

      <div id="lines_chart"></div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 block">
      <h2><%= t('.context') %></h2>

      <div id="lines_tooltip"></div>
      <div class="help">
        <%= link_to t('.note_about_the_data'), gobierto_budgets_faq_path(anchor: 'no_data'), title: t('.note_about_the_data_title'), class: 'tipsit' %>
      </div>
    </div>

    <div class="pure-u-1">
      <div class="filter m_v_2">
        <%= link_to t('.per_person'), '#', class:'active',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'per_person', format: :json), "line-widget-type" => "per_person" } %>
        <%= link_to t('.in_total'), '#', class:'',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'total_budget', format: :json), "line-widget-type" => "total_budget" } %>

        <% pending do %>
          <span class="separator_v"></span>
          <span class="label">Visualizar:</span>

          <%= link_to 'Evolución', '#', class:'active', data: { "switch_viz_to" => "lines" } %>
          <%= link_to 'Distribución', '#', class: '', data: { "switch_viz_to" => "treemap" } %>
        <% end %>
      </div>
    </div>
  </div>

  <% pending do %>
    <div class="pure-g" data-vis-treemap>
      <div class="pure-u-1 block">
        <h2>Distribución</h2>

        <div id="treemap"></div>
      </div>

      <div class="pure-u-1">
        <div class="filter m_v_2">
          <%= link_to 'Por habitante', '#', class:'active',  data: {"treemap-widget-series" => "means", "treemap-widget-url" => gobierto_budgets_api_data_treemaps_path(ine_code: @place.id, year: @year, what: 'per_person', format: :json), "treemap-widget-type" => "per_person" } %>
          <%= link_to 'En total', '#', class:'',  data: {"treemap-widget-series" => "means", "treemap-widget-url" => gobierto_budgets_api_data_treemaps_path(ine_code: @place.id, year: @year, what: 'total_budget', format: :json), "treemap-widget-type" => "total_budget" } %>

          <span class="separator_v"></span>

          <span class="label">Visualizar:</span>

          <%= link_to 'Evolución', '#', class:'', data: { "switch_viz_to" => "lines" } %>
          <%= link_to 'Distribución', '#', class: 'active', data: { "switch_viz_to" => "treemap" } %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="separator"></div>

  <%= render partial: 'gobierto_sites/budget_lines/explorer' %>
</div>
