<div>
  <%= t('.in_year', year: @year) %>
</div>

<hr>

<div>

  <table>
    <thead>
      <tr style="font-weight:bold">
        <td colspan="2">Ingresos</td>
      </tr>
    </thead>
    <tbody>
      <% GobiertoBudgets::TopBudgetLine.limit(5).where(year: @year, place: @site.place, kind: GobiertoBudgets::BudgetLine::INCOME).all.each do |budget_line| %>
        <tr>
          <td><%= budget_line.name%></td>
          <td><%= number_with_precision(budget_line.percentage_of_total * 100, precision: 2) + '%' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table>
    <thead>
      <tr style="font-weight:bold">
        <td colspan="2">Ingresos</td>
      </tr>
    </thead>
    <tbody>
      <% GobiertoBudgets::TopBudgetLine.limit(5).where(year: @year, place: @site.place, kind: GobiertoBudgets::BudgetLine::EXPENSE).all.each do |budget_line| %>
        <tr>
          <td><%= budget_line.name%></td>
          <td><%= number_with_precision(budget_line.percentage_of_total * 100, precision: 2) + '%' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="featured_budget_line" data-featured-budget-line="<%= gobierto_budgets_featured_budget_line_url(@site.place.slug, year: @year, host: Site.budgets_host) %>">
</div>

