<h2 class="section_heading">Compara municipios</h2>

<%= form_tag '#', id: 'compare_form' do %>

  <%= image_tag('illustrations/integra.jpg') %>

  <p class="center">Selecciona varios municipios para comparar sus presupuestos:</p>

  <input type="text" class="search_compare" value="" placeholder="Busca municipio 1" name="place1" />
  <input type="text" class="search_compare" value="" placeholder="Busca municipio 2" name="place2" />
  <input type="text" class="search_compare" value="" placeholder="Busca municipio 3" name="place3" />

  <%= submit_tag "Comparar", disabled: "true" %>

<% end %>

<div class="examples center">

  <p>O prueba algunos ejemplos</p>

  <ul>
    <li><%= link_to 'Coruña + Pontevedra + Lugo + Ferrol', '/compare/coruna-a:pontevedra:lugo:ferrol/2015/G/economic', class: 'button' %></li>
    <li><%= link_to 'Madrid + Barcelona + Valencia + Sevilla', '/compare/madrid:barcelona:valencia:sevilla/2015/G/economic', class: 'button' %></li>
  </ul>

  <p><%= link_to '¿Cómo funciona?', '', class: 'toggle_div', data: { target: 'how_it_works' } %></strong></p>

  <div class="how_it_works" style="display: none;">

    <p>Además de usar el buscador en la parte superior de esta página, puedes añadir un municipio a tu lista de comparación desde la página del municipio en cuestión. Utiliza el botón "Compara" para añadir y acceder a la comparación. Desde la página de comparación también podrás añadir otros municipios o eliminar los que necesites de la comparación.</p>

    <%= image_tag 'gobierto_compare_demo.gif', width: '100%' %>

  </div>
</div>

<% content_for(:javascript) do %>

function extractFormParameters($sel){
  var slugs = [];
  $sel.serializeArray().forEach(function(e){
    if(/^place/.test(e.name) && e.value !== ""){
      slugs.push(e.value);
    }
  });
  return slugs;
}

var searchOptions = {
  serviceUrl: '/search',
  onSelect: function(suggestion) {
    if(suggestion.data.type == 'Place') {
      ga('send', 'event', 'Compare Search', 'Click', 'Search', {nonInteraction: true});
      mixpanel.track('Compare Search', { 'Place': suggestion.data.slug});
      $(this).val(suggestion.data.slug);
      if(extractFormParameters($('form')).length > 1){
        $('form input:submit').attr('disabled', false);
      }
    }
  },
  groupBy: 'category'
};

$('.search_compare').autocomplete($.extend({}, AUTOCOMPLETE_DEFAULTS, searchOptions));

$('#compare_form').on('submit', function(e){
  e.preventDefault();
  var slugs = extractFormParameters($(this));
  if(slugs.length > 0) {
    Turbolinks.visit('/compare/' + slugs.join(':') + '/2015/G/functional');
  }
});

<% end %>