  <div class="pre_home">
      
    <h1><%= image_tag('LogoGobierto.png', width: '180') %> <span>Presupuestos Municipales</span></h1>
    <h2>Consulta, analiza y compara los presupuestos municipales de España</h2>

    <input type="text" class="places_search" placeholder="Busca municipio..." id="search" autofocus="true">

    <p class="example">Por ejemplo: <%= link_to 'Santander', '/places/santander/2015' %>, <%= link_to 'Talaván', '/places/talavan/2015'  %>, <%= link_to 'Órgiva', '/places/orgiva/2015'  %>, <%= link_to 'Zaragoza', '/places/zaragoza/2015'  %>.</p>

    <div class="clearfix">

      <div class="col-1-3 about_block about_citizens">

        <h3>Para ciudadanos</h3>

        <ul>
          <li><strong>Entiende el destino de tus impuestos</strong> Consulta cómo invierte tu municipio el dinero de tus impuestos</li>
          <li><strong>Comprende la estructura de tu municipio</strong> Obtén perspectiva de todos los gastos a los que  se hace frente en tu pueblo o ciudad</li>
          <li><strong>Contextualiza la información</strong> Compara los gastos de tu municipio con otros similares</li>
        </ul>

      </div>

      <div class="col-2-3 about_block about_journos">

        <h3>Para periodistas</h3>

        <ul>
          <li><strong>Descubre historias</strong> Bucea con facilidad en los gastos y su evolución para destapar historias </li>
          <li><strong>Complementa tu información local</strong> Genera visualizaciones para tus piezas aportando mayor contexto a tus piezas</li>
          <li><strong>Haz seguimiento</strong> Realiza un seguimiento de los gastos por municipio, región o tipo de gasto</li>
          <li><strong>Aporta contexto</strong> Contribuye con tu información a contextualizar los presupuestos</li>
        </ul>

      </div>

      <div class="col-3-3 about_block about_municipalities">

        <h3>Para municipios</h3>

        <ul>
          <li><strong>Mejora tu eficiencia</strong> Analiza tus presupuestos y conoce como te comparas con municipios similares</li>
          <li><strong>Mejora la información que ofreces</strong> Añade comentarios e información sobre los proyectos y las inversiones para facilitar la compresión a tus vecinos</li>
          <li><strong>Completa tu web de forma sencilla</strong> Incluye una versión personalizada en tu propia web</li>
          <li><strong>Simplifica la elaboración de tu documento de presupuestos</strong> Crea el informe con tus presupuestos, visualizaciones y contextualización de forma automática</li>
        </ul>

      </div>

    </div>

    <div class="more_info center">
      <%= link_to 'Más información', about_path, class: 'button' %>
    </div>
    
  </div>

  
