<header class="place">
  <div class="breadcrumb">
    <%= link_to 'Andalucía' %> <span class="sep">»</span>
    <%= link_to 'Almería' %>
  </div>
  <h1>
    <%= link_to 'El Puerto de Santa María', 'municipio' %> 
    <!-- <span><span class="sep">»</span> Presupuesto <span class="sep">»</span> Gastos</span> -->
  </h1>
  <menu>
    <ul>
      <li><%= link_to 'Presupuesto' %></li>
      <li><%= link_to 'Ejecución' %></li>
      <li><%= link_to 'Indicadores' %></li>
      <li><%= link_to 'Rankings' %></li>
      <li><%= link_to 'Contexto' %></li>
    </ul>
  </menu>

  <div class="tools">
    <%= link_to '123 <i class="fa fa-star-o"></i>'.html_safe %>
    <%= link_to 'Compara <i class="fa fa-compass"></i>'.html_safe %>
    <%= link_to 'Comparte <i class="fa fa-share"></i>'.html_safe %>
  </div>

</header>