<header class="place">
  <div class="breadcrumb">
    <%= link_to 'Andalucía' %> <span class="sep">»</span>
    <%= link_to 'Almería' %>
  </div>
  <h1>
    <%= link_to 'El Puerto de Santa María', 'municipio' %> 
    <!-- <span><span class="sep">»</span> Presupuesto <span class="sep">»</span> Gastos</span> -->
  </h1>
  <menu>
    <ul>
      <li><%= link_to 'Presupuesto' %></li>
      <li><%= link_to 'Ejecución' %></li>
      <li><%= link_to 'Indicadores' %></li>
      <li><%= link_to 'Rankings' %></li>
      <li><%= link_to 'Contexto' %></li>
    </ul>
  </menu>
</header>