
<div class="sidebar">
  
  <input type="text" class="places_search" placeholder="Busca municipio...">

  <menu class="places_menu">
    <ul>
      <li><%= link_to 'Andalucía', 'municipio' %>
        <ul>
          <li><%= link_to 'Almería' %></li>
          <li><%= link_to 'Cádiz' %></li>
          <li><%= link_to 'Córdoba' %></li>
          <li><%= link_to 'Granada' %></li>
          <li><%= link_to 'Huelva' %></li>
          <li><%= link_to 'Jaén' %></li>
          <li><%= link_to 'Málaga' %></li>
          <li><%= link_to 'Sevilla' %></li>
        </ul>
      </li>
      <li><%= link_to 'Aragón' %>
        <ul>
          <li><%= link_to 'Huesca' %></li>
          <li><%= link_to 'Teruel' %></li>
          <li><%= link_to 'Zaragoza' %></li>
        </ul>
      </li>
      <li><%= link_to 'Principado de Asturias' %>
        <ul>
          <li><%= link_to 'Asturias' %></li>
        </ul>
      </li>
      <li><%= link_to 'Baleares' %></li>
      <li><%= link_to 'Canarias' %></li>
      <li><%= link_to 'Cantabria' %></li>
      <li><%= link_to 'Castilla La Mancha' %></li>
      <li><%= link_to 'Castilla y León' %></li>
      <li><%= link_to 'Cataluña' %></li>
      <li><%= link_to 'Ceuta' %></li>
      <li><%= link_to 'Comunidad Valenciana' %></li>
      <li><%= link_to 'Extremadura' %></li>
      <li><%= link_to 'Galicia' %></li>
      <li><%= link_to 'La Rioja' %></li>
      <li><%= link_to 'Comunidad de Madrid' %></li>
      <li><%= link_to 'Melilla' %></li>
      <li><%= link_to 'Región de Murcia' %></li>
      <li><%= link_to 'Comunidad Foral de Navarra' %></li>
      <li><%= link_to 'País Vasco' %></li>
    </ul>
  </menu>

  <div class="filter">

    <div class="filter_widget"></div>

    <div class="col-1-2">
      <%= link_to '0 - 1.000' %>
      <%= link_to '1.000 - 5.000' %>
      <%= link_to '5.000 - 10.000' %>
      <%= link_to '10.000 - 50.000' %>
    </div>

    <div class="col-1-2">
      <%= link_to '50.000' %>
      <%= link_to '100.000 - 500.000' %>
      <%= link_to '+ 500.000' %>      
    </div>

  </div>

</div>

<div class="main_col">
  
  TBD

</div>