
<header class="place ranking">
  <div class="breadcrumb">
    <h1>
      Ranking <span class="sep"> » </span>
      <span>
        <div class="switcher kind_switcher">
          <%= link_to "Gastos <i class='fa fa-angle-down'></i>".html_safe, '', class: 'current' %>
          <ul>
            <li><%= link_to 'Gastos' %></li>
            <li><%= link_to 'Ingresos' %></li>
          </ul>
        </div>
        <span class="sep"> » </span>
      </span>
      <span>
        <div class="switcher kind_switcher">
          <%= link_to "Gastos corrientes <i class='fa fa-angle-down'></i>".html_safe, '', class: 'current' %>
          <ul>
            <li><%= link_to 'Gastos de personal' %></li>
            <li class="active"><%= link_to 'Gastos corrientes' %></li>
            <li><%= link_to 'Gastos financieros' %></li>
            <li><%= link_to 'Transferencias corrientes' %></li>
            <li><%= link_to 'Fondo de contingencia y otros imprevistos' %></li>
            <li><%= link_to 'Inversiones reales' %></li>
            <li><%= link_to 'Transferencias de capital' %></li>
            <li><%= link_to 'Activos financieros' %></li>
            <li><%= link_to 'Pasivos financieros' %></li>
          </ul>
        </div>
        <span class="sep"> » </span>
      </span>
      <span>
        <div class="switcher kind_switcher">
          <%= link_to "Material, suministros y otros <i class='fa fa-angle-down'></i>".html_safe, '', class: 'current' %>
          <ul>
            <li><%= link_to 'Arrendamientos y cánones' %></li>
            <li><%= link_to 'Reparaciones, mantenimiento y conservación' %></li>
            <li class="active"><%= link_to 'Material, suministros y otros' %></li>
            <li><%= link_to 'Indeminizaciones por razón de servicio' %></li>
          </ul>
        </div>
        <span class="sep"> » </span>
      </span>
      <span>
        <div class="switcher kind_switcher">
          <%= link_to "Material de oficina <i class='fa fa-angle-down'></i>".html_safe, '', class: 'current' %>
          <ul>
            <li class="active"><%= link_to 'Material de oficina' %></li>
            <li><%= link_to 'Suministros' %></li>
            <li><%= link_to 'Comunicaciones' %></li>
            <li><%= link_to 'Transportes' %></li>
            <li><%= link_to 'Primas de seguros' %></li>
            <li><%= link_to 'Tributos' %></li>
            <li><%= link_to 'Gastos diversos' %></li>
            <li><%= link_to 'Trabajos realizados por otras empresas y profesionales' %></li>
          </ul>
        </div>
        <span class="sep"> » </span>
      </span>
      <span>Total</span>
    </h1>
  </div>
</header>

<div class="items">
  <table class="">
  <thead>
    <th class="location">Municipio</th>
    <th class="right">Habitantes</th>
    <th class="right">Gasto total</th>
    <th class="right">Gasto por habitante</th> 
    <th >Compara</th>

  </thead>
  <tbody>
    <tr>
      <td ><a href="#">Madrid</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Barcelona</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Valencia</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Bilbao</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Madrid</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Barcelona</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Valencia</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Bilbao</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Madrid</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Barcelona</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Valencia</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Bilbao</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    
  </tbody>
  </table>
</div>