<%= render partial: 'places/place_header' %>

<header class="sub">

  <span class="sep"><%= link_to kind_literal(@kind).capitalize, place_budget_path(@place.slug, @year, @kind, @area_name) %> »</span>
  <%= render partial: 'breadcrumb', 
            collection: budget_line_crumbs(@parent_line),
            as: 'budget_line', 
            spacer_template: 'breadcrumb_spacer' %> 

</header>

<div class="items">
  <table>
  <tr>
    <th>
      <input type="text" placeholder="Busca partidas" class="search_items">
    </th>
    <th class="right ">Gasto total</th>
    <th class="right ">Gasto por hab.</th>
    <th class="right ">% s/ total</th>
    <th></th>
  </tr>

  <tr>
    <td class="item_name" colspan="4">
      <%= link_to '« Inicio', place_budget_path(@place.slug, @year, @kind, @area_name) %>
    </td>
  </tr>
  
  <%= render partial: 'places/nested_budget_lines' %>
  
  </table>
</div>
