<% set_meta_tags title: "Presupuesto de #{@place.name} » #{kind_literal(@kind).capitalize} » #{budget_line_denomination(@area_name, @code, @kind)}" %>

<%= render partial: 'places/place_header' %>

<header class="sub ">

  <span class="sep"><%= link_to kind_literal(@kind).capitalize, place_budget_path(@place.slug, @year, @kind, @area_name) %> »</span>
  <%= render partial: 'breadcrumb', 
            collection: budget_line_crumbs(@parent_line, @area_name),
            as: 'budget_line', 
            spacer_template: 'breadcrumb_spacer' %> 

</header>

<div class="main_metrics clearfix">
  <div class="metric selected tipsit" data-widget-template="#widget-template"
                             title="Gasto total de esta partida en este año por habitante"
                             data-widget-type="per_person"
                             data-line-widget-url="<%= api_data_lines_budget_line_path(@place.id, @year, "per_person", @kind, @code, @area_name, format: :json ) %>"
                             data-line-widget-type="per_person"
                             data-widget-data-url="<%= api_data_budget_per_inhabitant_path(ine_code: @place.id, year: @year, kind: @kind, code: @code, area: @area_name, format: :json) %>">
  </div>

  <div class="metric tipsit" data-widget-template="#widget-template"
                                      title="Gasto total de esta partida en este año"
                                      data-widget-type="budget"
                                      data-line-widget-url="<%= api_data_lines_budget_line_path(@place.id, @year, "total_budget", @kind, @code, @area_name, format: :json ) %>"
                                      data-line-widget-type="total_budget"
                                      data-widget-data-url="<%= api_data_budget_path(ine_code: @place.id, year: @year, kind: @kind, code: @code, area: @area_name, format: :json) %>">
  </div>

  <div class="metric" data-widget-template="#small-widget-template"
                      data-widget-type="budget_percentage_over_total"
                      data-widget-data-url="<%= api_data_budget_percentage_over_total_path(ine_code: @place.id, year: @year, kind: @kind, code: @code, area: @area_name, format: :json) %>">
  </div>

  <div class="metric" data-widget-template="#small-widget-template"
                      data-widget-type="budget_percentage_over_province"
                      data-widget-data-url="<%= api_data_budget_percentage_over_province_path(ine_code: @place.id, year: @year, kind: @kind, code: @code, area: @area_name, format: :json) %>">
  </div>

  <div class="metric">
  </div>
</div>

<div class="metric_graphs clearfix">
  <div class="widget_graph show clearfix">
    <div id="lines_chart"></div>
    <div id="lines_tooltip"></div>
  </div>
</div>


<div class="items">
  <table>
  <tr>
    <th>
      <input type="text" placeholder="Busca partidas" class="search_items">
    </th>
    <th class="right ">Gasto total</th>
    <th class="right ">Gasto por hab.</th>
    <th class="right ">% s/ total</th>
    <th></th>
  </tr>

  <tr>
    <td class="item_name" colspan="4">
      <%= link_to '« Inicio', place_budget_path(@place.slug, @year, @kind, @area_name) %>
    </td>
  </tr>
  
  <%= render partial: 'places/nested_budget_lines' %>
  
  </table>
</div>

<script type="text/html" id="widget-template">
  <div class="label">{{title}}</div>
  <div class="main">{{value}}</div>
  <div class="secondary">
    <div class="percentage_change up">{{delta_percentage}}%</div>
    <div class="ranking"><strong>#{{ranking_position}}</strong>/{{ranking_total_elements}}</div>
  </div>
</script>

<script type="text/html" id="small-widget-template">
  <div class="label">{{title}}</div>
  <div class="main">{{value}}</div>
  <div class="secondary">
  </div>
</script>

<div class="item_description">
  <h3>Acerca de esta partida</h3>

  <div class="tabs"> 
    <ul>
      <li><%= link_to 'Descripción', '', class: 'active', data: { "tab-target": 'description' } %></li>
      <li><%= link_to 'Comentario del Ayuntamiento', '', data: { "tab-target": 'comment' } %></li>
      <li><%= link_to 'Contratos asociados a esta partida', '', data: { "tab-target": 'contracts' } %></li>
      <li><%= link_to 'Preguntas y respuestas', '', data: { "tab-target": 'q&a' } %></li>
    </ul>
  </div>

  <div class="tab_content" data-tab="description">
    <p class="placeholder_no_info">Todavía no hay información.</p>
  </div>

  <div class="tab_content" data-tab="comment" style="display: none;">
    <p class="placeholder_no_info">Pide a tu municipio que incluya esta información.</p>
  </div>

  <div class="tab_content" data-tab="contracts" style="display: none;">
    <p class="placeholder_no_info">Pide a tu municipio que incluya esta información.</p>
  </div>

  <div class="tab_content" data-tab="q&a" style="display: none;">
    <p class="placeholder_no_info">Proximamente.</p>
  </div>

</div>

<%= render 'places/cta_block' %>
