  <tr id="code_<%= budget_line['code'] %>">
    <td class="item_name">
      <% if @level < 3 %>
      <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe, 
            place_budget_path(@place.slug,@year,@kind, {parent_code: budget_line['code']}), :remote => true%> 
      <% end %>
      <%= link_to budget_line_denomination(@area_name, budget_line['code'],@kind), 'municipio_cat_level' %>
    </td>
    <td class="right total"><%= number_to_currency budget_line['amount'], precision: 0 %></td>
    <td class="right per_hab"><%= number_to_currency budget_line['amount_per_inhabitant'], precision: 0 %></td>
    <td class="right percentage"><strong><%= percentage_of_total budget_line['amount'], total_budget %>%</strong></td>
    <td class="bar_cont"><div class="bar" style="width:<%= percentage_of_total(budget_line['amount'], total_budget).to_i %>%"></div></td>
  </tr>