<div class="breadcrumb">
    <%= link_to @place.province.autonomous_region.name %> >
    <%= link_to @place.province.name %>
</div>
<h1><%= link_to_unless_current @place.name, place_path(@place.slug, @year) %></h1>
<menu>
  <ul>
    <li><%= link_to 'Presupuesto' %></li>
    <li><%= link_to 'Ejecución' %></li>
    <li><%= link_to 'Indicadores' %></li>
    <li><%= link_to 'Rankings' %></li>
    <li><%= link_to 'Contexto' %></li>
  </ul>
</menu>