<header class="place">
  <div class="breadcrumb">
    <%= @place.province.autonomous_region.name %> » <%= @place.province.name %>
  </div>
  <h1><%= link_to_unless_current @place.name, place_path(@place.slug, @year) %></h1>
  <% pending do %>
  <menu>
    <ul>
      <li><%= link_to 'Presupuesto' %></li>
      <li><%= link_to 'Ejecución' %></li>
      <li><%= link_to 'Indicadores' %></li>
      <li><%= link_to 'Rankings' %></li>
      <li><%= link_to 'Contexto' %></li>
    </ul>
  </menu>
  <% end %>

  <div class="tools_cont">
    <div class="tools sticky">
      <% pending do %>
      <div class="modal_widget">
        <%= link_to '<span>123</span> <i class="fa fa-star-o"></i>'.html_safe, '', class: 'tool_button' %>
        <div class="inner">
          wadus follow
        </div>
      </div>
      <% end %>
      <div class="modal_widget">
        <%= link_to '<span>Compara</span> <i class="fa fa-compass"></i>'.html_safe, '', class: 'tool_button' %>
        <div class="inner widget_compare">

          <%= link_to "Añade <strong>#{@place.name}</strong> a tu lista y compara".html_safe, '',
            class: 'button js-add_compare', data: {place: compare_slug(@place, @year), "parent-code" => parent_code(params[:code])} %>

          <div class="sep"></div>

          <p>Tu lista de comparación</p>
          <ul id='compare_list'>
          </ul>

          <div id="view_comp_container" class="center">
            <%= link_to 'Ver comparación'.html_safe, '', id: 'view_compare', class: 'button',
              data: {"parent-code" => parent_code(params[:code]) } %>
            <span class="soft" id="without_current_note">(sin <%= @place.name %>)</span>
          </div>

        </div>
      </div>
      <div class="modal_widget">
        <%= link_to '<span>Comparte</span> <i class="fa fa-share"></i>'.html_safe, '', class: 'tool_button' %>
        <div class="inner widget_share" >

          <p><strong>Comparte esta URL</strong></p>

          <p>
            <%= link_to 'Twitter', "https://twitter.com/home?status=#{u @share_text}", class: 'small_button popup' %>
            <%= link_to 'Facebook', "http://www.facebook.com/sharer/sharer.php?u=#{u @share_text}", class: 'small_button popup' %>
            <input type="text" class="small_input">
          </p>
          <% pending do %>
            <div class="sep"></div>

            <p><strong>Incluye un widget en otra web</strong></p>

            <textarea></textarea>
            <p>Copia y pega este código en la web de destino</p>

            <div class="sep"></div>
          <% end %>

          <div class="cta_claim">
            <h3>¿Eres responsable de este municipio?</h3>
            <p>Gobierto te permite hacer una integración personalizada de estas visualizaciones en tu web.</p>
            <%= link_to 'Solicita información', contact_pro_path, class: 'button' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>

<header class="sticky_top">
  <%= link_to image_tag('Gobierto-Avatar@2x.png', size: '30x30'), root_path %>
  <input type="text" class="places_search search_auto" value="<%= @place.name %>" placeholder="Busca municipio..." >

  <% if params['controller'] == 'budget_lines' %>
  <div class="breadcrumb">
    <span class="sep"><%= link_to kind_literal(@kind).capitalize, place_budget_path(@place.slug, @year, @kind, @area_name) %> »</span>
    <%= render partial: 'breadcrumb',
              collection: budget_line_crumbs(@parent_line, @area_name),
              as: 'budget_line',
              spacer_template: 'breadcrumb_spacer' %>
    </div>
  <% end %>
</header>

