<% 
title = "#{kind_literal(@kind, true).capitalize} municipales de #{@place.name} para el #{@year}"
set_meta_tags title: title  
@share_text = "#{title} by @gobierto. #{request.original_url}"
%>

<%= render partial: 'place_header' %>

<header class="cat">
  <div class="form_filters">
    <% if @kind == 'G' %>
      <ul>
        <li><%= link_to_place_budget_toggler(@place.slug, 'economic', @area_name, @year) %></li>
        <li><%= link_to_place_budget_toggler(@place.slug, 'functional', @area_name, @year) %></li>
      </ul>
    <% end %>
  </div>
  <div class="qty">Total <%= kind_literal @kind %>: <%= number_to_currency @budget_lines['aggregations']['total_budget']['value'], precision: 0 %></div>
</header>

<div id="treemap" data-url="<%= place_budget_path(@place.slug, @year, @kind, @area_name, format: :json) %>" class="graph_treemap graph_placeholder">
</div>

<div class="items">
  <table>
  <tr>
    <th>
      <input type="text" placeholder="Busca partidas" class="search_items">
    </th>
    <th class="right "><%= kind_literal(@kind, false) %> total</th>
    <th class="right "><%= kind_literal(@kind, false) %> por hab.</th>
    <th class="right ">% s/ total</th>
    <th></th>
  </tr>
  <%= render partial: 'places/budget_lines', 
              collection: @budget_lines['hits'], 
              as: 'budget_line',
              locals: { total_budget: @budget_lines['aggregations']['total_budget']['value'] } %>
  </table>
</div>
