<header class="place">
  <%= render partial: 'place_header' %>
  
  <div class="tools">
    <%= link_to '123 <i class="fa fa-star-o"></i>'.html_safe %>
    <%= link_to 'Compara <i class="fa fa-compass"></i>'.html_safe %>
    <%= link_to 'Comparte <i class="fa fa-share"></i>'.html_safe %>
  </div>

</header>

<header class="cat">
  <div class="form_filters">
    <% if @kind == 'G' %>
      <ul>
        <li><%= link_to_place_budget_toggler(@place.slug, 'economic', @area_name, @year) %></li>
        <li><%= link_to_place_budget_toggler(@place.slug, 'functional', @area_name, @year) %></li>
      </ul>
    <% end %>
  </div>
  <div class="qty">Total <%= kind_literal @kind %>: <%= number_to_currency @budget_lines['aggregations']['total_budget']['value'], precision: 0 %></div>
</header>

<div id="treemap" data-url="<%= place_budget_path(@place.slug, @year, @kind, @area_name, format: :json) %>" class="graph_treemap graph_placeholder">
</div>

<div class="items">
  <table>
  <tr>
    <th>
      <input type="text" placeholder="Busca partidas" class="search_items">
    </th>
    <th class="right ">Gasto total</th>
    <th class="right ">Gasto por hab.</th>
    <th class="right ">% s/ total</th>
    <th></th>
  </tr>
  <%= render partial: 'places/budget_lines', 
              collection: @budget_lines['hits'], 
              as: 'budget_line',
              locals: { total_budget: @budget_lines['aggregations']['total_budget']['value'], area: @area_name } %>
  </table>
</div>

<script>
$(function(){
  window.treemap = new TreemapVis('#treemap', 'big', true);
  window.treemap.render($('#treemap').data('url'));

  // Move to income/expenses page
  $(document).on('click', '.treemap_node', function(e){
    e.preventDefault();
    var url = $(this).data('url');
    var treemapId = $(this).parents('.graph').attr('id');
    window.treemap.render(url);
    // TODO: url shouldn't have the format json
    var parts = url.split('?');
    url = parts[0].split('.')[0] + parts[1];
    $.ajax({ url: url, dataType: 'script' });
  });
});
</script>
