
<header class="place">
  <h1>Compara <span class=""><i class='fa fa-angle-right'></i></span></h1>
  <div class="switcher kind_switcher">
    <%= link_to "#{kind_literal(@kind).capitalize} <i class='fa fa-angle-down'></i>".html_safe, '', class: 'current' %>
    <ul>
      <li><%= link_to kind_literal(@kind).capitalize, places_compare_path(@places.map(&:slug).join(':'),@year,@kind,@area_name) %></li>
      <li><%= link_to kind_literal(other_kind(@kind)).capitalize, places_compare_path(@places.map(&:slug).join(':'),@year,other_kind(@kind),@area_name) %></li>
    </ul>
  </div>
</header>

<table class="comparison_table" cellspacing="0" cellpadding="0">
<thead>
  <th colspan="2" class="back_link">
    <% if params[:parent_code].present? %>
      <%= link_to '« inicio', places_compare_path(@places.map(&:slug).join(':'),@year,@kind,@area_name) %>
    <% end %>
  </th>
  <% @places.each do |place| %>
  <th class="location">
    <%= link_to place.name, place_path(place.slug, @year), class: 'compared_place', data: {slug: place.slug} %>
    <% if @places.size > 1 %>
      <%= link_to 'X', '', class: 'remove tipsit', title: 'Eliminar de la comparación' %>
    <% end %>
  </th>
  <% end %>
  <th class="location add_location_cont">
    <%= link_to '+', '', class: 'add', title: 'Añadir otro municipio' %>
    <div class="add_location">
      Añade otro municipio: 
      <input type="text" id="add_place">
    </div>
  </th>
</thead>
<% if @parent_compared.present? %>
  <tbody class="parent">
    <%= render partial: 'compare_rows', locals: { records: @parent_compared } %>  
  </tbody>
<% end %>
<tbody>
  <%= render partial: 'compare_rows', locals: { records: @budgets_compared } %>
</tbody>
</table>