<header class="place">
  <%= render partial: 'place_header' %>

  <div class="tools">
    <%= link_to '123 <i class="fa fa-star-o"></i>'.html_safe %>
    <%= link_to 'Compara <i class="fa fa-compass"></i>'.html_safe %>
    <%= link_to 'Comparte <i class="fa fa-share"></i>'.html_safe %>
  </div>

</header>

<header class="cat">
  <div class="qty">Total ingresos: <%= number_to_currency @budget_lines['aggregations']['total_budget']['value'], precision: 0 %></div>
</header>

<div class="graph_treemap graph_placeholder">TREEMAP</div>

<div class="items">
  <table>
  <tr>
    <th>
      <input type="text" placeholder="Busca partidas" class="search_items">
    </th>
    <th class="right ">Gasto total</th>
    <th class="right ">Gasto por hab.</th>
    <th class="right ">% s/ total</th>
    <th></th>
  </tr>
  <%= render partial: 'places/budget_lines', 
              collection: @budget_lines['hits'], 
              as: 'budget_line',
              locals: { area: 'economic',
                        kind: 'I', 
                        total_budget: @budget_lines['aggregations']['total_budget']['value']} %>
  </table>
</div>