<% set_meta_tags title: "Ránking #{@variable == 'population' ? 'Población' : (@code ? budget_line_denomination(@area_name, @code, @kind, 20) : "#{kind_literal(@kind)} área #{area_literal(@area_name).downcase}")} en #{@year}" %>


<header class="place">

  <% if @variable != 'population' && @kind == 'G' %>
    <div class="form_filters">
      <ul>
        <li><%= link_to 'Económica', places_ranking_path(@year,@kind,'economic',@variable, ine_code: params[:ine_code]), class: "#{'buttonSelected' if @area_name == 'economic'}", id: 'Economica' %></li>
        <li><%= link_to 'Funcional', places_ranking_path(@year,@kind,'functional',@variable, ine_code: params[:ine_code]), class: "#{'buttonSelected' if @area_name == 'functional'}", id: 'Funcional' %></li>
      </ul>
    </div>
  <% end %>

  <h1>
    <%= render partial: 'places/year_switcher' %>
    <%= link_to 'Ranking' %>
  </h1>
  <div>
    <% if @variable == 'population' %>
      <span>
        <div class="switcher kind_switcher">
          <%= link_to "Población", '', class: 'current' %>
        </div>
      </span>
    <% else %>
      <span>
        <div class="switcher kind_switcher">
          <%= link_to "#{kind_literal(@kind).capitalize} #{'por habitante' if @variable == 'amount_per_inhabitant'} <i class='fa fa-angle-down'></i>".html_safe, '', class: 'current' %>
          <ul>
            <li><%= link_to kind_literal(@kind).capitalize, places_ranking_path(@year, @kind, @area_name, @variable, ine_code: params[:ine_code]) %></li>
            <li><%= link_to kind_literal(other_kind(@kind)).capitalize, places_ranking_path(@year, other_kind(@kind), @area_name, @variable, ine_code: params[:ine_code]) %></li>
          </ul>
        </div>

        <% (1..@compared_level + 1).each do |level| %>
          <span class="sep"> » </span>
      </span>

      <span>
        <div class="switcher kind_switcher">
          <%
          selected_branch_code = @code ? @code[0...level] : nil
          if level == @compared_level + 1
            previous_branch_code = @code
            current_link_literal = "Total"
          else
            previous_branch_code = selected_branch_code[0...level-1]
            current_link_literal = budget_line_denomination(@area_name, selected_branch_code, @kind)
          end
          items = categories_in_level(@area_name, @kind, level, previous_branch_code)
          %>

          <%= link_to "#{current_link_literal} <i class='fa fa-angle-down'></i>".html_safe, places_ranking_path(@year, @kind, @area_name, @variable, selected_branch_code, ine_code: params[:ine_code]), class: 'current' %>
          <% if items.any? %>
            <ul>
              <% items.each do |code, name| %>
                <li><%= link_to budget_line_denomination(@area_name, code, @kind), places_ranking_path(@year, @kind, @area_name, @variable, code, ine_code: params[:ine_code]) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
      </span>
    <% end %>
  </div>
</header>

<div class="rankings">
  <div class="filters" data-ranking-url="<%= url_for(params.except('page').merge(format:'js')) %>">
    <ul>
      <li>
        <span>Tamaño del municipio</span>
        <div id="filter_population"></div>
        Entre <span id='size_value_0'></span> y <span id='size_value_1'></span></li>
      <li>
        <span><%= kind_literal(@kind, false).titleize %> total</span>
        <div id="filter_total"></div>
        Entre <span id='total_value_0'></span> y <span id='total_value_1'></span>
      </li>
      <li>
        <span><%= kind_literal(@kind, false).titleize %> por habitante</span>
        <div id="filter_per_inhabitant"></div>
        Entre <span id='per_inhabitant_value_0'></span> y <span id='per_inhabitant_value_1'></span>
      </li>
      <li>
        <span>Comunidad Autónoma</span>
        <div id="filter_per_aarr">
          <%= select_tag(:aarr,options_for_select(aarr_for_select), {prompt: 'Todas'}) %>
        </div>
        
      </li>
  </div>

  <%= render partial: 'ranking_table' %>
  <%= paginate @ranking_items, remote: true %>

  <div class="disclaimer">
    <div class="sep"></div>
    <p>La base de datos que utilizamos no incluye datos para el 100% de los municipios, por lo que las medias están calculadas solo con los datos que existen (que son la gran mayoría). Más información: <%= link_to '¿Por qué no hay datos de todos los municipios?', faq_path(anchor: 'no_data') %>
  </div>

</div>


