<header class="place">
  <div class="breadcrumb">
    <%= link_to @place.province.autonomous_region.name %> >
    <%= link_to @place.province.name %>
  </div>
  <h1><%= @place.name %></h1>
  <menu>
    <ul>
      <li><%= link_to 'Presupuesto' %></li>
      <li><%= link_to 'Ejecución' %></li>
      <li><%= link_to 'Indicadores' %></li>
      <li><%= link_to 'Rankings' %></li>
      <li><%= link_to 'Contexto' %></li>
    </ul>
  </menu>
</header>

<div class="main_metrics clearfix">

  <div class="metric" data-graph-show="1">
    <div class="label">Gasto total</div>
    <div class="main"><%= format_currency(@expense_lines['aggregations']['total_budget']['value']) %></div>
    <div class="secondary">
      <div class="percentage_change up">3,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric selected" data-graph-show="2">
    <div class="label">Habitantes</div>
    <div class="main">1.234</div>
    <div class="secondary">
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric" data-graph-show="3">
    <div class="label">Wadus</div>
    <div class="main">1.234</div>
    <div class="secondary">
      <div class="percentage_change down">1,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric" data-graph-show="4">
    <div class="label">Wadus</div>
    <div class="main">1.234</div>
    <div class="secondary">
      <div class="percentage_change down">1,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric" data-graph-show="5">
    <div class="label">Gasto por habitante</div>
    <div class="main"><%= format_currency(@expense_lines['aggregations']['total_budget_per_inhabitant']['value']) %></div>
    <div class="secondary">
      <div class="percentage_change down">1,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

</div>

<div class="metric_graphs">

  <div class="graph" data-graph-cont="1">

    graph gasto total

  </div>

  <div class="graph" data-graph-cont="2">

    graph habitantes 

  </div>

  <div class="graph" data-graph-cont="3">

    graph wadus

  </div>

  <div class="graph" data-graph-cont="5">

    graph gasto por habitante

  </div>

</div>

<div class="section_separator" name="separator">
  <div class="sep"></div>
  Explora ingresos y gastos de <%= @place.name %>
  <div class="sep"></div>
</div>

<div class="ie_intro">

  <div class="col-1-2 income">
    
    <header class="cat">
      <h2>Ingresos</h2>
      <div class="qty"><%= number_to_currency @income_lines['aggregations']['total_budget']['value'], precision: 0 %></div>
    </header>

    <div class="graph" id="income-treemap" data-url="<%= api_data_treemap_path(ine_code: @place.id, type: 'economic', year: 2015, kind: BudgetLine::INCOME, level: 1, format: :json) %>"></div>

    <div class="items">
      <table>
        <%= render  partial: 'places/place_budget_lines', 
                    collection: @income_lines['hits'], 
                    as: 'budget_line',
                    locals: { area: 'economic',
                              kind: 'I', 
                              total_budget: @income_lines['aggregations']['total_budget']['value']} %>
      </table>
  
      <div class="show_all">
        <a href="municipio_cat" class="list_view_more">Ver desglose de ingresos</a>
      </div>
      
    </div>
  </div>

  <div class="col-2-2">

    <header class="cat expenses">
      <h2>Gastos</h2>

      <div class="form_filters">
        <ul>
          <li><%= link_to 'Económica', place_path(@place.slug, {area: 'economic'}), remote: true, class: 'toggle buttonSelected' %></li>
          <li><%= link_to 'Funcional', place_path(@place.slug, {area: 'functional'}), remote: true, class: 'toggle' %></li>
        </ul>
      </div>

      <div id="total_expense_budget" class="qty"><%= number_to_currency @expense_lines['aggregations']['total_budget']['value'], precision: 0 %></div>
    </header>

    <div class="graph" id="expense-treemap" data-url="<%= api_data_treemap_path(ine_code: @place.id, type: @area_name, year: 2015, kind: BudgetLine::EXPENSE, level: 1, format: :json) %>"></div>

    <div class="items">
      <table id="expense_lines">
        <%= render  partial: 'places/place_budget_lines', 
                    collection: @expense_lines['hits'], 
                    as: 'budget_line',
                    locals: { area: @area_name, 
                              kind: 'G',
                              total_budget: @expense_lines['aggregations']['total_budget']['value']} %>
      </table>

      <div class="show_all">
        <a href="municipio_cat" class="list_view_more">Ver desglose de gastos</a>
      </div>

    </div>

  </div>

</div>


<script>
$(function(){
  var incomeTreemap = new TreemapVis('#income-treemap');
  incomeTreemap.render($('#income-treemap').data('url'));

  var expenseTreemap = new TreemapVis('#expense-treemap');
  expenseTreemap.render($('#expense-treemap').data('url'));
});
</script>
