<% 
  
  title = "Presupuestos municipales de #{@place.name} para el #{@year}"
  set_meta_tags title: title 
  
  @share_text = "#{title} by @gobierto. #{request.original_url}" %>

<%= render partial: 'place_header' %>

<%= render 'places/cta_block' %>

<div class="main_metrics clearfix">

  <div class="metric selected"
    data-widget-template="#widget-template"
    data-widget-type="per_person"
    data-line-widget-url="<%= api_data_lines_path(ine_code: @place.id, year: @year, what: 'per_person', format: :json) %>"
    data-line-widget-type="per_person"
    data-widget-data-url="<%= api_data_total_budget_per_inhabitant_path(ine_code: @place.id, year: @year, format: :json) %>">
  </div>

  <div class="metric "
    data-widget-template="#widget-template"
    data-widget-type="total_budget"
    data-line-widget-url="<%= api_data_lines_path(ine_code: @place.id, year: @year, what: 'total_budget', format: :json) %>"
    data-line-widget-type="total_budget"
    data-widget-data-url="<%= api_data_total_budget_path(ine_code: @place.id, year: @year, format: :json) %>">
  </div>

  <div class="metric" data-widget-template="#widget-template" data-widget-type="population" data-widget-data-url="<%= api_data_population_path(ine_code: @place.id, year: @year, format: :json) %>">
  </div>

  <div class="metric"></div>
  <div class="metric"></div>
</div>

<div class="metric_graphs clearfix">
  <div class="widget_graph show clearfix">
    <div id="lines_chart"></div>
    <div id="lines_tooltip"></div>
  </div>
</div>

<div class="section_separator" name="separator">
  <div class="sep"></div>
  Explora ingresos y gastos de <%= @place.name %>
  <div class="sep"></div>
</div>

<div class="ie_intro">

  <div class="col-1-2 ">

    <header class="cat incomes">
      <h2>Ingresos</h2>
      <div class="qty"><%= number_to_currency @income_lines['aggregations']['total_budget']['value'], precision: 0 %></div>
    </header>

    <div class="graph" id="income-treemap" data-economic-url="<%= place_budget_path(@place.slug, @year, BudgetLine::INCOME, 'economic', format: :json) %>">
    </div>

    <div class="items">
      <table data-url="<%= place_budget_path(@place.slug, @year, 'income', 'economic') %>">
        <%= render  partial: 'places/place_budget_lines',
                    collection: @income_lines['hits'],
                    as: 'budget_line',
                    locals: { area: 'economic',
                              kind: 'I',
                              total_budget: @income_lines['aggregations']['total_budget']['value']} %>
      </table>

      <div class="show_all">
        <%= link_to 'Ver desglose de ingresos', place_budget_path(@place.slug, @year, 'income', 'economic'), class: 'list_view_more' %>
      </div>
    </div>
  </div>

  <div class="col-2-2 ">

    <header class="cat expenses">
      <h2>Gastos</h2>

      <div class="form_filters">
        <ul>
          <li><%= link_to 'Económica', place_path(@place.slug, @year, {area: 'economic'}), remote: true, class: 'toggle buttonSelected' %></li>
          <li><%= link_to 'Funcional', place_path(@place.slug, @year, {area: 'functional'}), remote: true, class: 'toggle' %></li>
        </ul>
      </div>

      <div id="total_expense_budget" class="qty"><%= number_to_currency @expense_lines['aggregations']['total_budget']['value'], precision: 0 %></div>
    </header>

    <div class="graph" id="expense-treemap"
                       data-functional-url="<%= place_budget_path(@place.slug, @year, BudgetLine::EXPENSE, 'functional', format: :json) %>"
                       data-economic-url="<%= place_budget_path(@place.slug, @year, BudgetLine::EXPENSE, 'economic', format: :json) %>">
    </div>


    <div class="items">
      <table id="expense_lines" data-url="<%= place_budget_path(@place.slug, @year, 'expense', {area: @area_name} ) %>">
        <%= render  partial: 'places/place_budget_lines',
                    collection: @expense_lines['hits'],
                    as: 'budget_line',
                    locals: { area: @area_name,
                              kind: 'G',
                              total_budget: @expense_lines['aggregations']['total_budget']['value']} %>
      </table>

      <div class="show_all">
        <%= link_to 'Ver desglose de gastos', place_budget_path(@place.slug, @year, 'expense', {area: @area_name} ), class: 'list_view_more', id: 'show_expenses_link' %>
      </div>

    </div>

  </div>

</div>

<script type="text/html" id="widget-template">
  <div class="label">{{title}}</div>
  <div class="main">{{value}}</div>
  <div class="secondary">
    <div class="percentage_change up">{{delta_percentage}}%</div>
    <div class="ranking"><a href="{{ranking_url}}"><strong>#{{ranking_position}}</strong>/{{ranking_total_elements}}</a></div>
  </div>
</script>
