<!DOCTYPE html>
<html>
<head>
  <title>Comparador presupuestos · Gobierto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top-claim">
  ¿Interesado en herramientas de análisis presupuestario para Municipios? 
</div>

<div class="container">

  <header class="global">

    <div class="logo">
      <%= link_to_unless_current image_tag('LogoGobierto.png', width: '180'), root_path %>
      <div class="sub-brand">
        Presupuestos Municipales
      </div>
    </div>

  </header>

  <%= yield %>

</div>

<footer>
  <div class="gobierto_ref">
    <%= link_to image_tag('GobiertoFooter@2x.png', size: '401x18'), 'http://gobierto.es', target: 'blank' %>
  </div>
</footer>

<div class="spinner">
  <%= image_tag 'spinner.gif' %>
</div>

</body>
</html>
