<!DOCTYPE html>
<html>
<head>
  <title>Comparador presupuestos · Gobierto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top-claim">
  <p>¿Interesado en herramientas de análisis presupuestario para Municipios? </p>
</div>

<div class="container">

  <header class="global">

    <div class="logo">
      <%= link_to_unless_current image_tag('LogoGobierto.png', width: '180'), root_path %>
      <div class="sub-brand">
        Presupuestos Municipales
      </div>
    </div>

    <menu>
      <ul>
        <li><%= link_to 'Municipios', '/sandbox/home', class: 'selected' %></li>
        <li><%= link_to 'Partidas' %></li>
        <li><%= link_to 'Compara' %></li>
        <li><%= link_to 'Indicadores' %></li>
        <li><%= link_to 'Ránkings' %></li>
        <li><%= link_to '<span>Pro</span> Crea tu libro'.html_safe %></li>
      </ul>
    </menu>

    <div class="links_list">
      <h3>Tus favoritos</h3>
      <ul>
        <li><%= link_to 'El Ejido' %></li>
        <li><%= link_to 'Majadahonda' %></li>
        <li><%= link_to 'Mijas' %></li>
        <li><%= link_to 'Talaván' %></li>
      </ul>
    </div>

    <div class="links_list">
      <h3>Reciente</h3>
      <ul>
        <li><%= link_to 'Madrid' %></li>
        <li><%= link_to 'Barcelona' %></li>
        <li><%= link_to 'Valencia' %></li>
        <li><%= link_to 'Pontevedra' %></li>
      </ul>
    </div>

  </header>

  <div class="year_switcher">
    <%= link_to "#{@year} <i class='fa fa-angle-down'></i>".html_safe, '', class: 'current' %>
    <ul>
      <li><%= link_to '2015', place_path(@place.slug,'2015') %></li>
      <li><%= link_to '2014', place_path(@place.slug,'2014') %></li>
      <li><%= link_to '2013', place_path(@place.slug,'2013') %></li>
      <li><%= link_to '2012', place_path(@place.slug,'2012') %></li>
      <li><%= link_to '2011', place_path(@place.slug,'2011') %></li>
      <li><%= link_to '2010', place_path(@place.slug,'2010') %></li>
    </ul>
  </div>

  <div class="main_content clearfix">
    <%= yield %>
  </div>

</div>

<footer>
  <div class="gobierto_ref">
    <%= link_to image_tag('GobiertoFooter@2x.png', size: '401x18'), 'http://gobierto.es', target: 'blank' %>
  </div>
</footer>

<div class="spinner">
  <%= image_tag 'spinner.gif' %>
</div>

</body>
</html>
