<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= display_meta_tags site: [site_name, 'Gobierto'].join(' 路 '), reverse: true, separator: '路' %>
  <%= stylesheet_link_tag    'gobierto_sites/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'gobierto_sites/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="meta">
  <div>
    <ul>
      <% if @site.configuration.links.any? %>
        <% @site.configuration.links.each do |link| %>
          <li><%= link_to link, link, target: '_blank' %></li>
        <% end %>
      <% end %>
      <% if @site.gobierto_budgets_enabled? %>
        <li><%= link_to 'Presupuestos', '#' %></li>
      <% end %>
      <% if @site.gobierto_participation_enabled? %>
        <li><%= link_to 'Participaci贸n', gobierto_participation_root_path %></li>
      <% end %>
    </ul>
  </div>

  <% if @site.configuration.logo %>
    <%= image_tag @site.configuration.logo %>
  <% end %>

  <h1>
    <%= @site.name %> / Secci贸n
  </h1>
</header>

<div class="desktop-c">

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
