<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= display_meta_tags site: [site_name, 'Gobierto'].join(' · '), reverse: true, separator: '·' %>
  <%= stylesheet_link_tag    'gobierto_sites/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'gobierto_sites/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="meta color_main">

  <div class="client_links">
    <div class="column">
      <ul>
        <% if @site.configuration.links.any? %>
          <% @site.configuration.links.each do |link| %>
            <li><%= link_to url_host(link), link, target: '_blank' %></li>
          <% end %>
        <% end %>
        <% if @site.gobierto_budgets_enabled? %>
          <li><%= link_to 'Presupuestos', gobierto_sites_budgets_path %></li>
        <% end %>
        <% if @site.gobierto_participation_enabled? %>
          <li><%= link_to 'Participación', gobierto_participation_root_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="site_header">
    <div class="column">
      <% if @site.configuration.logo %>
        <div class="logo"><%= image_tag @site.configuration.logo %></div>
      <% end %>
      <div class="site_title">
        <strong><%= link_to @site.name, gobierto_sites_site_path %></strong> / <%= link_to 'Presupuestos', gobierto_sites_budgets_path %>
      </div>
    </div>
  </div>

  <menu class="sub_sections">
    <div class="column">
    <ul>
      <li><%= link_to 'Resumen', gobierto_sites_budgets_path, class: class_if('active', controller_name == 'budgets') %></li>
      <li><%= link_to 'Presupuesto', gobierto_sites_budget_lines_path(year: GobiertoBudgets::SearchEngineConfiguration::Year.last, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: GobiertoBudgets::BudgetLine::FUNCTIONAL, level: 1), class: class_if('active', controller_name == 'budget_lines') %></li>
      <li><%= link_to 'Ejecución', gobierto_sites_budgets_execution_path(year: GobiertoBudgets::SearchEngineConfiguration::Year.last), class: class_if('active', controller_name == 'budgets_execution')  %></li>
      <% pending do %>
        <li><%= link_to 'Consultas', '' %></li>
        <li><%= link_to 'Historias', '' %></li>
        <li><%= link_to 'Rankings', '' %></li>
      <% end %>
    </ul>
    </div>
  </menu>

</header>

<div class="container">

  <%= yield %>

</div>

<footer>

  <div class="column">
    <div class="separator"></div>
    <ul>
      <% if @site.configuration.links.any? %>
        <% @site.configuration.links.each do |link| %>
          <li><%= link_to url_host(link), link, target: '_blank' %></li>
        <% end %>
      <% end %>
      <% if @site.gobierto_budgets_enabled? %>
        <li><%= link_to 'Presupuestos', gobierto_sites_budgets_path %></li>
      <% end %>
      <% if @site.gobierto_participation_enabled? %>
        <li><%= link_to 'Participación', gobierto_participation_root_path %></li>
      <% end %>
    </ul>
  </div>
</footer>

<% if @site.configuration.demo && @site.configuration.demo == true %>
  <div class="demo_bar pure-g">
    <div class="pure-u-lg-4-24 pure-u-1-5">
    <%= link_to image_tag('LogoGobierto.png', width: '100'), 'http://gobierto.es' %></div>
    <div class="pure-u-lg-12-24 pure-u-2-5">Esta web es una demostración de Gobierto, software de transparencia y participación</div>
    <div class="pure-u-lg-8-24 pure-u-2-5">
      <%= link_to 'Más información en gobierto.es', 'http://gobierto.es' %></div>
    </div>
  </div>
<% end %>

</body>
</html>
